<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}BETA{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>

<body>
  {% include "components/header.html" %}
  <div id="content">
    <div id="content-container">
      {% block content %}{% endblock %}
    </div>
  </div>
  {% include "components/footer.html" %}
</body>

</html>