<footer>
        <div class="beta">
            <img src="{{ url_for('static', filename='img/Beta_blue_2.png') }}" alt="beta-logo" />
            <ul>
                <li>BETA Engineering and Technology Association</li>
                <li>Org. nummer: 913 777 417</li>
                <li>Jon Lilletuns vei 9, 4879 Grimstad</li>
            </ul>
        </div>
        <div class="contact">
            <h4>Kontakt oss</h4>
            <ul>
                <li><a href="/">Discord</a></li>
                <li><a href="/">Facebook</a></li>
                <li><a href="/">Github</a></li>
                <li><a href="/">Mail</a></li>
            </ul>
        </div>
        <div class="resources">
            <h4>Ressurser</h4>
            <ul>
                <li><a href="/">Om BETA</a></li>
                <li><a href="/">Ny student</a></li>
                <li><a href="/">For bedrift</a></li>
                <li><a href="/">DevProsjekt</a></li>
            </ul>
        </div>
</footer>