body {
    padding: 1.25em;
}

.container {
    margin-top: 1.25em;
}

.clear-link {
    margin-left: 2em;
}

#inputBox {
    height: 18.75em;
    margin-top: 3vh;
}

#output {
    padding: 0.625em;
    border: 0.0625em solid #ccc;
    background-color: #f9f9f9;
}

#saveButton {
    margin-top: 1em;
    /* Adds some space between the button and the textarea */
}