---
import MainLayout from "@layouts/Main.astro";
import Tournament from "@layouts/tournament.astro";
import "../tournaments.css";
---

<MainLayout title="Setup Competition">
  <Tournament>
    <h1 class="title">League of Legends 1v1</h1>
    <img
      src="/betalan/tournaments/lol.jpg"
      alt="Setup Competition"
      class="responsive-img"
    />
    <h2 class="section-title">Mirror, mirror on the wall... Who is the sweatiest of them all?</h2>

    <p class="paragraph">
      Battle off in the Howling Abyss with your favorite champions. No inting junglers, no afk botlane, no excuses.
    </p>

    <h2 class="section-title">Rules</h2>

    <p class="paragraph"></p>

    <ul class="list">
      <li class="list-item">
        <strong>Onsite</strong> – Be there or be square!
      </li>
        <li class="list-item">
        <strong>EUW account</strong> – You need an EU West account to participate.
      </li>
      <li class="list-item">
        <strong>Unique champions</strong> – You need to play a different champion each match if possible.
      </li>
      <li class="list-item">
        <strong>Bo1 Howling Abyss</strong> – Win by getting first blood or 100 CS, best of one match.
      </li>
      <li class="list-item">
        <strong>Alternate: Mundo Dodgeball</strong> – If both participants agree, you can play Mundo Dodgeball instead.
      </li>
    </ul>

    <h2 class="section-title">How to play</h2>


    <ul class="list">
        <li class="list-item">
          <strong>Signup</strong> – Be there or be square!
        </li>
          <li class="list-item">
          <strong>EUW account</strong> – You need an EU West account to participate.
        </li>
        <li class="list-item">
          <strong>Unique champions</strong> – You need to play a different champion each match if possible.
        </li>
        <li class="list-item">
          <strong>Bo1 Howling Abyss</strong> – Win by getting first blood or 100 CS, best of one match.
        </li>
        <li class="list-item">
          <strong>Alternate: Mundo Dodgeball</strong> – If both participants agree, you can play Mundo Dodgeball instead.
        </li>
    </ul>

    <p class="paragraph">
        Signup will be noticed through Discord and tournament will happen Saturday at 15:00.
    </p>

  </Tournament>
</MainLayout>