---
import BaseLayout from "@layouts/BaseLayout.astro";
import Container from "@components/layout/Container.astro";

import Card from "@components/ui/Card.astro";

import Agenda from "@content/genfors/2026.md";
import Prose from "@components/semantics/Prose.astro";
---

<BaseLayout title="Generalforsamling BETA">
  <Container>
    <Prose>
      <h1>
        Generalforsamlingen i <span class="text-brand">BETA</span>
      </h1>

      <h2>Hva er generalforsamlingen?</h2>
      <p>
        Generalforsamlingen er linjeforeningens øverste beslutningsorgan og arrangeres hvert
        vårsemester. Her behandles saker som angår studentene, nytt styre velges, og viktige
        avgjørelser for Beta tas.
      </p>

      <p><b>Frister:</b> fra og med generalforsamlingen 2027 skal generalforsamlingen annonseres
        to (2) uker før dato med en midlertidig agenda. Innen én (1) uke før generalforsamlingen 
        skal fullstendig agenda med saker som skal behandles legges ut.
      </p>

      <p><i>Alle medlemmer har stemmerett!</i></p>

      <h2>Viktig info</h2>
      <p>
        For at generalforsamlingen skal gå ryddig og raskt, har vi satt frist til å melde inn saker
        minst en uke i forveien. Etter fristen sender vi ut alle forslag sammen med oppdatert
        agenda, slik at alle studenter rekker å gjøre klar en mening om alle saker. Alt kan bli tatt
        opp, og du kan sende inn så mange saker som mulig.
      </p>
      <p>
        For at linjeforeningen skal gå rundt, trengs det at alle interesserte stiller til verv i
        styret. Dette er gull for å bygge CV og har gitt mange tidligere studenter både jobb og
        sommerjobb. Man lærer mye nytt, man blir kjent med mange nye mennesker og du får lov til å
        forme studentlivet i Grimstad.
      </p>

      <p><i>Æresmedlemmer kan foreslås som egen sak.</i></p>
    </Prose>

    <Prose>
      <h2>Viktige dokumenter</h2>
    </Prose>
    <div class="mt-12 grid grid-cols-1 gap-4 md:grid-cols-3">
      <Card
        title="Vedtekter"
        href="/Vedtekter.pdf"
        highlightText="Les nyeste vedteker"
        text="Vedtektene er BETA sine lover og regler. Og inneholder alt fra styre, generalforsamlinger, helt til BETA-alumni!"
      />
      <Card
        title="Referat 2026"
        href="/genfors/2026"
        highlightText="Les referat"
        text="Tirsdag, 27. januar, kl. 16:15 (2026) slo vi løs med info, diskusjon, og det ble selvfølgelig gratis pizza."
      />
      <Card
        title="Referat 2025"
        href="/genfors/2025"
        highlightText="Les referat"
        text="Referatet fra 2025. Lyst til å lage en arkiv side, sjekk ut GitHuben til BETA eller kontakt BetaDEV!"
      />
    </div>
   

  
  </Container>
</BaseLayout>
