services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: development
    restart: on-failure
    volumes:
      - ./frontend:/app
    ports:
      - 3000:3000
    environment:
      - PUBLIC_BACKEND_URL=${BACKEND_URL}
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: development
    stop_signal: SIGINT # allows graceful shutdown with Ctrl+C
    restart: on-failure
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    ports:
      - 8000:8000
    networks:
      - internal
    depends_on:
      - db
    volumes:
      - ./backend:/app

  db:
    image: postgres:18
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - internal

networks:
  internal:
    driver: bridge

volumes:
  postgres_data:
