services:
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: development
    restart: on-failure
    volumes:
      - ./frontend:/app
    ports:
      - 3000:3000
    environment:
      - PUBLIC_BACKEND_URL=${BACKEND_URL}
      - CHOKIDAR_USEPOLLING=true
    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      target: development
    stop_signal: SIGINT # flask requires SIGINT to stop gracefully
    restart: on-failure
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    ports:
      - 8000:8000
    networks:
      - internal
    depends_on:
      - db
    volumes:
      - ./backend:/app

  db:
    image: postgres:18
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    volumes:
      - postgres_data:/var/lib/postgresql
    networks:
      - internal

  dbbackups:
    image: prodrigestivill/postgres-backup-local
    restart: always
    volumes:
      - pgbackups:/backups
    links:
      - db
    depends_on:
      - db
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_HOST=db
      - POSTGRES_EXTRA_OPTS=-Z1 --blobs
      - SCHEDULE=@daily
      - BACKUP_ON_START=TRUE
      - BACKUP_KEEP_DAYS=7
      - BACKUP_KEEP_WEEKS=4
      - BACKUP_KEEP_MONTHS=6
      - HEALTHCHECK_PORT=8080
    networks:
      - internal

networks:
  internal:
    driver: bridge

volumes:
  postgres_data:
  pgbackups:
