---
import BaseLayout from "@layouts/BaseLayout.astro";
import Container from "@components/layout/Container.astro";
import Prose from "@components/semantics/Prose.astro";
---

<BaseLayout title="Om verv">
  <Container>
    <Prose>
      <h1>Om verv</h1>

      <h2>Hvor skummelt er det å engasjere seg?</h2>
      <p>
        Ikke i det hele tatt! Som nytt styremedlem har du en 4 ukers periode sammen med de gamle
        styremedlemmene og du får god erfaring med alle rutiner og oppgaver. Det stilles ingen krav
        til tidligere erfaring, selv om det kan hjelpe, annet en at du er engasjert for
        studentmiljøet.
      </p>
      <p>
        Her er det rom til feil og å forske på nye løsninger til problemer som skulle oppstå. Det er
        også utrolig lærerikt, morro, og verdifult å ha med seg på CV-en. Engasjer deg!!
      </p>

      <h2>Hva kan du stille som?</h2>
      <p>
        I BETA har vi et hovedstyre bestående av 9 medlemmer som du kan og bør engasjere deg som:
      </p>

      <ul>
        <li>
          <strong>Leder</strong>: er BETA sitt annsikt utad mot fakultetet, bedrifter, og andre
          foreninger. Lederend sørger for å samle styret, passe på at linjeforeningen drives på en
          god måte og at alle komiteer og interessegrupper sammarbeider mot samme mål.
        </li>
        <li>
          <strong>Nestleder</strong>: er lederens stedsfortreder og har ansvar for referering av
          styremøter og linjeforeningens internstruktur. Nestelederen er lederens sparringspartner.
        </li>
        <li>
          <strong>Økonomi-ansvarlig</strong>: har ansvar BETA sin økonomi. Dette inkluderer å føre
          regnskap, sette opp budsjett og sørge for at vi får betalt for bedriftspresentasjoner.
        </li>
        <li>
          <strong>PR-ansvarlig</strong>: har ansvar for BETA sin profil på ulike sosiale medier;
          Instagram, Facebook, Discord og TikTok.
        </li>
        <li>
          <strong>BetaLAN-leder</strong>: har ansvar for å arrangere UiA sitt feteste student-LAN
          hvert semester.
        </li>
        <li>
          <strong>Eventkom-leder</strong>: har ansvar for å planlegge og gjennomføre sosiale
          aktiviteter for alle BETA-medlemmene.
        </li>
        <li>
          <strong>Bedkom-leder</strong>: har ansvar for kontakten mellom næringslivet og studentene.
        </li>
        <li>
          <strong>BetaDEV-leder</strong>: har ansvar for interessegruppen BetaDEV og utviklermiljøet
          på campus.
        </li>
        <li>
          <strong>BetaSEC-leder</strong>: har ansvar for interessegruppen BetaSEC og
          sikkerhetsrelaterte arrangementer.
        </li>
      </ul>

      <p>
        Alle komiteene har også sin egen nestleder som velges internt og ikke har stemme i
        hovedstyret.
      </p>
    </Prose>
  </Container>
</BaseLayout>
