fastapi
uvicorn[standard]
slowapi
icalendar
recurring_ical_events
requests
sqlalchemy[asyncio]
asyncpg
alembic
psycopg2-binary
python-jose[cryptography]
argon2-cffi
python-multipart
pydantic[email]
fastapi-mail