@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main > *:first-child {
    @apply pt-24;
  }

  /* --------------------------- */
  /* Layout for markdown content */
  /* --------------------------- */

  /* Headers */
  .md-content h1 {
    @apply mb-4 border-b-2 border-gray-900 border-opacity-25 pb-2 text-4xl font-bold dark:border-white dark:border-opacity-25;
  }
  .md-content h2 {
    @apply mb-3 mt-6 text-3xl font-semibold;
  }
  .md-content h3 {
    @apply mb-3 mt-4 text-2xl;
  }
  .md-content h4 {
    @apply mb-2 mt-3 text-xl;
  }
  .md-content h5 {
    @apply mb-1 mt-2 text-lg;
  }
  .md-content h6 {
    @apply mb-1 mt-2 text-base;
  }

  .md-content h1,
  .md-content h2,
  .md-content h3,
  .md-content h4,
  .md-content h5,
  .md-content h6 {
    @apply font-semibold leading-normal;
  }

  /* Text */

  .md-content p {
    @apply mb-4 text-base;
  }

  .md-content a {
    @apply text-brand underline duration-100 ease-linear hover:opacity-75;
  }

  /* Lists */

  .md-content :not(li) > ul,
  .md-content :not(li) > ol {
    @apply mb-4;
  }

  .md-content ul {
    @apply list-[square] marker:text-base marker:text-brand;
  }

  .md-content > ul {
    @apply mb-4;
  }

  .md-content ol {
    @apply list-decimal marker:font-bold;
  }

  .md-content li {
    @apply ml-6 pl-1 text-base;
  }

  /* Other */

  .md-content p > img {
    @apply rounded-xl;
  }

  .md-content :not(pre) > code {
    @apply rounded px-1.5 py-0.5;
  }

  .md-content pre:has(code) {
    @apply mb-4 text-wrap rounded-lg px-6 py-4;
  }

  .md-content hr {
    @apply my-8 h-[2px] border-none bg-gray-900 opacity-25 dark:bg-white;
  }

  /* --------------------------- */
  /* Layout for markdown content */
  /* --------------------------- */

  /* Headers */
  .md-content h1 {
    @apply mb-4 border-b-2 border-gray-900 border-opacity-25 pb-2 text-4xl font-bold dark:border-white dark:border-opacity-25;
  }
  .md-content h2 {
    @apply mb-3 mt-8 text-3xl font-semibold;
  }
  .md-content h3 {
    @apply mb-3 mt-8 text-2xl;
  }
  .md-content h4 {
    @apply mb-2 mt-8 text-xl;
  }
  .md-content h5 {
    @apply mb-1 mt-8 text-lg;
  }
  .md-content h6 {
    @apply mb-1 mt-8 text-base;
  }

  .md-content h1,
  .md-content h2,
  .md-content h3,
  .md-content h4,
  .md-content h5,
  .md-content h6 {
    @apply font-semibold leading-normal;
  }

  /* Text */

  .md-content p {
    @apply mb-4 text-base;
  }

  .md-content a {
    @apply text-brand underline duration-100 ease-linear hover:opacity-75;
  }

  /* Lists */

  .md-content :not(li) > ul,
  .md-content :not(li) > ol {
    @apply mb-4;
  }

  .md-content ul {
    @apply list-[square] marker:text-base marker:text-brand;
  }

  .md-content ol {
    @apply list-decimal marker:font-bold;
  }

  .md-content li {
    @apply ml-6 pl-1 text-base;
  }

  /* Other */

  .md-content p > img {
    @apply rounded-xl;
  }

  .md-content :not(pre) > code {
    @apply rounded bg-gray-200 px-1.5 py-0.5 dark:bg-gray-800;
  }

  .md-content pre:has(code) {
    @apply mb-4 text-wrap rounded-lg px-6 py-4;
  }

  .md-content blockquote {
    @apply rounded border-l-4 border-brand pl-4 italic opacity-80;
  }

  .md-content hr {
    @apply my-8 h-[2px] border-none bg-gray-900 opacity-25 dark:bg-white;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
