@import "@fontsource/poppins/300.css"; /* Light */
@import "@fontsource/poppins/400.css"; /* Regular */
@import "@fontsource/poppins/500.css"; /* Medium */
@import "@fontsource/poppins/600.css"; /* Semi-bold */
@import "@fontsource/poppins/700.css"; /* Bold */
@import "@fontsource/poppins/400-italic.css"; /* Regular Italic */
@import "@fontsource/poppins/600-italic.css"; /* Semi-bold Italic */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  main > *:first-child {
    @apply pt-24;
  }

  /* Prose links */
  .prose a {
    @apply decoration-accent/40 transition-colors hover:decoration-accent;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

/* Shiki */
.shiki {
  background: transparent !important;
}

/* Shiki dark mode */
html.dark .shiki,
html.dark .shiki span {
  color: var(--shiki-dark) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

.prose .shiki > code {
  padding: 0 !important;
  background: transparent !important;
}
