---
import { Icon } from "astro-icon/components";
import BetaLogo from "@assets/logos/Beta.svg";
---

<footer class="mt-auto dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl px-4 pb-6 pt-16 sm:px-6 lg:px-8 lg:pt-24">
    <!-- 1x3 grid on mobile, 3x1 on landscape -->
    <div class="grid grid-cols-1 gap-16 sm:grid-cols-3 sm:gap-8 md:grid-cols-3 lg:col-span-3">
      <!-- Contacts list, middle on vertical, right on horizontal -->
      <div class="text-center">
        <p class="text-lg font-bold text-gray-900 dark:text-white">Kontakt oss</p>
        <ul class="mt-8 space-y-4 text-sm">
          <li class="flex justify-center">
            <span class="sr-only">Email</span>
            <a
              class="inline-flex items-center gap-1.5 text-gray-800 transition hover:opacity-75 dark:text-gray-100"
              href="mailto:post@betauia.net"
            >
              <Icon name="fa-solid:address-card" />
              <span class="flex-1">post@betauia.net</span>
            </a>
          </li>

          <li class="flex justify-center">
            <div class="inline-flex items-center gap-1.5 text-gray-800 dark:text-gray-100">
              <Icon name="fa-solid:suitcase" />
              <span class="flex-1">Org.nr: 913 777 417</span>
            </div>
          </li>

          <li class="flex justify-center">
            <div
              class="inline-flex items-center gap-1.5 text-gray-800 transition dark:text-gray-100"
            >
              <Icon name="fa-solid:map-marker-alt" />
              <span class="flex-1 break-all">Jon Lilletuns vei 9, 4879 Grimstad</span>
            </div>
          </li>
        </ul>

        <!-- Social links -->
        <ul class="mt-4 flex justify-center gap-6 pt-4 md:gap-8">
          <li>
            <a
              href="https://www.facebook.com/beta.linjeforening/"
              target="_blank"
              class="text-gray-900 transition hover:opacity-75 dark:text-white"
            >
              <span class="sr-only">Facebook</span>
              <Icon name="fa-brands:facebook" class="text-xl" />
            </a>
          </li>

          <li>
            <a
              href="https://www.instagram.com/betauia/"
              target="_blank"
              class="text-gray-900 transition hover:opacity-75 dark:text-white"
            >
              <span class="sr-only">Instagram</span>
              <Icon name="fa-brands:instagram" class="text-xl" />
            </a>
          </li>

          <li>
            <a
              href="https://github.com/betauia"
              target="_blank"
              class="text-gray-900 transition hover:opacity-75 dark:text-white"
            >
              <span class="sr-only">GitHub</span>
              <Icon name="fa-brands:github" class="text-xl" />
            </a>
          </li>

          <li>
            <a
              href="https://discord.gg/3xBPkDsaXy"
              target="_blank"
              class="text-gray-900 transition hover:opacity-75 dark:text-white"
            >
              <span class="sr-only">Discord</span>
              <Icon name="fa-brands:discord" class="text-xl" />
            </a>
          </li>
        </ul>
      </div>

      <div class="flex flex-col items-center text-center">
        <p class="text-lg font-bold text-gray-900 dark:text-white">Ressurser</p>
        <ul class="mt-8 space-y-4 text-sm">
          <li>
            <a
              class="text-gray-800 transition hover:opacity-75 dark:text-gray-100"
              target="_blank"
              href="https://github.com/betauia/betauia.net">GitHub repo</a
            >
          </li>
          <li>
            <a class="text-gray-800 transition hover:opacity-75 dark:text-gray-100" href="/om"
              >Om BETA</a
            >
          </li>
          <li>
            <a
              class="text-gray-800 transition hover:opacity-75 dark:text-gray-100"
              href="/ny-student">Ny student</a
            >
          </li>
          <li>
            <a
              class="text-gray-800 transition hover:opacity-75 dark:text-gray-100"
              href="/Vedtekter.pdf">Vedtekter</a
            >
          </li>
        </ul>
      </div>

      <!-- Main sponsor -->
      <div class="flex flex-col justify-center text-center">
        <div class="flex justify-center">
          <BetaLogo class="h-16 text-brand" />
        </div>
        <p class="mt-4 text-lg font-medium text-gray-900 dark:text-white">
          Ønsker din bedrift logo her?
        </p>
        <a class="text-brand hover:opacity-75" href="mailto:bedrift@betauia.net"
          >Send oss en mail!</a
        >
      </div>
    </div>
  </div>

  <div class="mt-12 border-t border-gray-200 pb-6 pt-6 dark:border-gray-700">
    <div
      class="mx-auto flex max-w-screen-xl flex-col justify-between gap-4 px-4 text-center sm:flex-row sm:px-6 lg:px-8"
    >
      <p class="text-sm text-gray-500">© 2025 BETA Engineering & Technology Association</p>
      <p class="text-sm text-gray-500">Feil på siden? Kontakt oss!</p>
    </div>
  </div>
</footer>
