---
import DiscordIcon from "@components/icons/social/Discord.astro";
import FacebookIcon from "@components/icons/social/Facebook.astro";
import GithubIcon from "@components/icons/social/Github.astro";
import InstagramIcon from "@components/icons/social/Instagram.astro";
import LinkedinIcon from "@components/icons/social/Linkedin.astro";

import CompanyIcon from "@components/icons/Company.astro";
import EmailIcon from "@components/icons/Email.astro";
import LocationIcon from "@components/icons/Location.astro";
---

<footer class="dark:bg-gray-900 mt-auto">
  <div class="mx-auto max-w-screen-xl px-4 pb-6 pt-16 sm:px-6 lg:px-8 lg:pt-24">

    <!-- 1x3 grid on mobile, 3x1 on landscape -->
    <div class="grid grid-cols-1 gap-16 sm:gap-8 sm:grid-cols-3 md:grid-cols-3 lg:col-span-3">



      <!-- Contacts list, middle on vertical, right on horizontal -->
      <div class="text-center">
        <p class="text-lg font-medium text-gray-900 dark:text-white">Kontakt oss</p>
        <ul class="mt-8 space-y-4 text-sm">
          <li class="flex justify-center">
            <span class="sr-only">Email</span>
            <a class="flex gap-1.5 transition text-gray-800 dark:text-gray-100 hover:opacity-75" href="mailto:post@betauia.net">
                <EmailIcon />
              <span class="flex-1">post@betauia.net</span>
            </a>
          </li>

          <li class="flex justify-center">
            <div class="flex gap-1.5 text-gray-800 dark:text-gray-100">
              <CompanyIcon />
              <span class="flex-1">Org.nr: 913 777 417</span>
            </div>
          </li>

          <li class="flex justify-center">
            <div class="flex gap-1.5 transition text-gray-800 dark:text-gray-100">
              <LocationIcon />
              <span class="flex-1 break-all">Jon Lilletuns vei 9, 4879 Grimstad</span>
            </div>
          </li>
        </ul>

        <!-- Social links -->
        <ul class="mt-4 pt-4 flex justify-center gap-6 md:gap-8">
          <li>
            <a href="https://www.facebook.com/beta.linjeforening/" target="_blank" class="text-gray-900 dark:text-white transition hover:opacity-75">
              <span class="sr-only">Facebook</span>
              <FacebookIcon />
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/betauia/" target="_blank" class="text-gray-900 dark:text-white transition hover:opacity-75">
              <span class="sr-only">Instagram</span>
              <InstagramIcon />
            </a>
          </li>

          <li>
            <a href="https://github.com/betauia" target="_blank" class="text-gray-900 dark:text-white transition hover:opacity-75">
              <span class="sr-only">GitHub</span>
              <GithubIcon />
            </a>
          </li>

          <li>
            <a href="https://discord.gg/3xBPkDsaXy" target="_blank" class="text-gray-900 dark:text-white transition hover:opacity-75">
              <span class="sr-only">Discord</span>
              <DiscordIcon />
            </a> 
          </li>
        </ul>
      </div>



      <div class="text-center flex flex-col items-center">
        <p class="text-lg font-medium text-gray-900 dark:text-white">Ressurser</p>
        <ul class="mt-8 space-y-4 text-sm">
          <li><a class="transition text-gray-800 dark:text-gray-100 hover:opacity-75" target="_blank" href="https://github.com/betauia/betauia.net">GitHub repo</a></li>
          <li><a class="transition text-gray-800 dark:text-gray-100 hover:opacity-75" href="/om">Om BETA</a></li>
          <li><a class="transition text-gray-800 dark:text-gray-100 hover:opacity-75" href="#">Dokumenter</a></li>
          <li><a class="transition text-gray-800 dark:text-gray-100 hover:opacity-75" href="/commedycentral">Commedy central</a></li>
        </ul>
      </div>


      <!-- Main sponsor -->
      <div class="text-center flex flex-col justify-center">
        <div class="flex justify-center text-teal-600 ">
          <img class="h-16 w-auto" src="/imgs/Beta_blue_1.png" alt="Sponsor logo" />
        </div>
        <p class="text-lg font-medium mt-4 text-gray-900 dark:text-white">Ønsker din bedrift logo her?</p>
        <a class="text-brand hover:opacity-75" href="mailto:bedrift@betauia.net">Send oss en mail!</a>
      </div>


    </div>
  </div>

  <div class="mt-12 pb-6 border-t border-gray-200 dark:border-gray-700 pt-6">
    <div class="text-center flex flex-col sm:flex-row gap-4 justify-between mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
      <p class="text-sm text-gray-500">© 2025 BETA Engineering & Technology Association</p>
      <p class="text-sm text-gray-500">Feil på siden? Kontakt oss!</p>
    </div>
  </div>
</footer>
