---
import { Icon } from "astro-icon/components";
const routes = [
  { name: "Om oss", path: "/om" },
  { name: "Generalforsamling", path: "/gf" },
];

const isCurrentRoute = (path: string) => {
  return Astro.url.pathname === path;
};
---

<nav class="absolute top-0 left-0 w-full bg-white shadow-lg dark:bg-gray-900">
  <div class="px-4 mx-auto max-w-7xl">
    <div class="relative flex items-center justify-between h-16">
      <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
        <!-- Mobile menu button -->
        <button type="button" id="mobile-menu-toggle" class="relative inline-flex items-center justify-center p-2 rounded-md hover:bg-gray-100 dark:hover:bg-gray-800 focus-visible:outline-none focus-visible:ring-2 focus:ring-brand" aria-controls="movile-menu" aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>

          <!-- Menu open: "hidden", Menu closed: "block" -->

          <!-- Icon when menu is closed -->
          <svg class="block w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>

          <!-- Icon when menu is open -->
          <svg class="hidden w-6 h-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>

        </button>
      </div>

      <div class="flex items-center justify-center flex-1 sm:items-stretch sm:justify-start">
        <div class="flex items-center flex-shrink-0">
          <a href="/"><img class="w-24 h-auto" src="/imgs/Beta_blue_1.png" alt="BETA logo"></a>
        </div>

        <!-- Landscape menu -->
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">

            <!-- Maps out the active route from array -->
            {routes.map(route => (
              <a
                href={route.path}
                class={`transition rounded-md px-3 py-2 text-sm ${isCurrentRoute(route.path) ? "opacity-75 hover:opacity-100" : "hover:opacity-75"}`}
              >
                {route.name}
              </a>
            ))}
          </div>
      </div>
    </div>

    <!-- Theme toggle button -->
    <div class="absolute left-0 flex items-center sm:right-0 sm:left-auto">
      <button id="theme-toggle" type="button" class="text-gray-600 dark:text-gray-400 rounded-md text-sm p-2.5  hover:bg-gray-100 dark:hover:bg-gray-800 focus-visible:outline-none focus-visible:ring-2 focus:ring-brand">

        <!-- Icon when dark mode is enabled -->
        <Icon name="fa-solid:sun" id="dark-toggle-icon" class="hidden w-5 h-5"/>

        <!-- Icon when light mode is enabled -->
        <Icon name="fa-solid:moon" id="light-toggle-icon" class="hidden w-4 h-4"/>
      </button>
    </div>
  </div>

  <!-- Mobile menu, shows on small -->
  <div class="sm:hidden" id="mobile-menu">
    <div class="px-2 pt-2 pb-3 space-y-1">
      <!-- Maps out the active route from array -->
      {routes.map(route => (
        <a href={route.path} class={`transition block rounded-md px-3 py-2 text-sm hover:text-gray-600 dark:hover:text-gray-300 dark:hover:text-brand ${isCurrentRoute(route.path) ? "text-gray-600 dark:text-gray-400" : ""}`}>
          {route.name}
        </a>
      ))}
    </div>
  </div>
</nav>

<!-- Adds toggle event for the mobile menu -->
<script>
  let menuToggleBtn = document.getElementById("mobile-menu-toggle");
  let menu = document.getElementById("mobile-menu");

  if (menu && menuToggleBtn) {
    menu.classList.add("hidden");
    
    menuToggleBtn.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
  }
</script>

<!-- Toggle dark/light theme -->
<script>
  let darkToggleIcon = document.getElementById("dark-toggle-icon");
  let lightToggleIcon = document.getElementById("light-toggle-icon");
  let themeToggleBtn = document.getElementById("theme-toggle");

  if (darkToggleIcon && lightToggleIcon && themeToggleBtn) {
    // Check if darktheme was enabled or system preferes it
    if (localStorage.getItem("color-theme") === "dark" || (!("color-theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches)) {
      darkToggleIcon.classList.remove("hidden");
    } else {
      lightToggleIcon.classList.remove("hidden");
    }

    themeToggleBtn.addEventListener("click", () => {

      // Toggle icons inside button
      darkToggleIcon.classList.toggle("hidden");
      lightToggleIcon.classList.toggle("hidden");

      // If set via local storage previously
      if (localStorage.getItem("color-theme")) {
        if (localStorage.getItem("color-theme") === "light") {
          document.documentElement.classList.add("dark");
          localStorage.setItem("color-theme", "dark");
        } else {
          document.documentElement.classList.remove("dark");
          localStorage.setItem("color-theme", "light");
        }

      } else {
        if (document.documentElement.classList.contains("dark")) {
          document.documentElement.classList.remove("dark");
          localStorage.setItem("color-theme", "light");
        } else {
          document.documentElement.classList.add("dark");
           localStorage.setItem("color-theme", "dark");
        }
      }
    });
  }
</script>


