<div class="my-auto mx-auto px-4 max-w-4xl sm:px-6 lg:px-8 flex flex-col justify-center items-center text-center">
    <img class="w-56" src="/imgs/construction.png" alt="">
    <h1 class="text-xl text-gray-900 dark:text-white border-b border-gray-900 dark:border-white px-4 pb-2">Siden er under konstruksjon</h1>
    <p class="text-gray-900 dark:text-white pt-2">Interessert i å hjelpe? Ta kontakt med BetaDEV på discord!</p>
</div>