---
export interface Props {
  routes: Routes[];
  root: string;
}

interface File {
    name: string;
    route: string;
}

interface Routes {
    name: string;
    route: string;
    files: File[];
}

const { routes, root } = Astro.props as Props;

const isCurrentRoute = (path: string) => {
  return Astro.url.pathname === path;
};
---

<ul class="text-gray-900 dark:text-white">
  {routes.map((route) => (
    <li class="pl-2 py-2 text-lg">{route.name}</li>
    <ul>
      {route.files.map((file) => (
        <li class={`transition mx-2 my-2 rounded ${isCurrentRoute(root + route.route + file.route) ? "text-white bg-brand" : "hover:bg-brand hover:bg-opacity-25"}`}>
          <a href={root + route.route + file.route}><div class="pl-4 py-1">{file.name}</div></a>
        </li>
      ))}
    </ul>
  ))}
</ul>
