---
import FullContainer from "@components/containers/FullContainer.astro";
import PageLayout from "@layouts/PageLayout.astro";
import SortList from "@components/ui/SortList.astro";

const pdfImports = import.meta.glob<{ default: string }>("@assets/pdfs/*.pdf", {
  eager: true,
});

const pdfFiles = Object.entries(pdfImports).map(([path, mod]) => {
  const fileName: string | undefined = path.split("/").pop();
  // Ensure that pdf file names follow -> year-semester-score-subject.pdf format
  // year -> yyyy
  // semester -> V/H
  // examNumber -> 1...?
  // score -> 0...100
  // subject -> M1/M2/DM1/DM2/ST...
  const [year, semester, examNumber, score, subject, ...rest] =
    fileName?.replace(".pdf", "").split("-") || [];

  return {
    name: fileName,
    href: mod.default,
    year: year,
    semester: semester,
    examNumber: examNumber,
    score: score,
    subject: subject,
  };
});
---

<PageLayout title="Exams">
  <FullContainer>
    <div class="text-center font-bold">
      <h1 class="text-2xl">Available PDFs</h1>
    </div>
    <SortList files={pdfFiles} />
  </FullContainer>
</PageLayout>
