---
import MainLayout from "@layouts/Main.astro";
import Tournament from "@layouts/tournament.astro";
import "../tournaments.css";
---

<MainLayout title="Rocket League">
  <Tournament>
    <h1 class="title">Rocket League</h1>
    <img
      src="/betalan/tournaments/rocket-league-img.jpg"
      alt="Rocket League"
      class="responsive-img"
    />
    <h2 class="section-title">Tournament Info</h2>

    <p class="paragraph">
        It's time to rev your engines, fuel up, and get ready to launch, flip, spin, and crash your way to victory in Rocket League!
    </p>
    <p class="paragraph">
        Teams will go head to head in 2v2 competitions displaying their skill, determination, and grit, to come out on top.
    </p>

    <h2 class="section-title">Rules</h2>

    <p class="paragraph">The team with the highest score at the end of a match will advance toward the finals. Score is allocated by:</p>

    <ul class="list">
      <li class="list-item">
        +3 Points for scoring a goal.
      </li>
      <li class="list-item">
        +1 Point for demolishing drivers on the opposing team.
      </li>
    </ul>

    <p class="paragraph">
      Standard matches will be <strong>Best-of-One</strong>, while the final round will be a <strong>Best-of-Three</strong>.
    </p>

    <h2 class="section-title">Prizes</h2>

    <p class="paragraph">
      The top two teams will receive prizes to commemorate their victory over the competition:
    </p>

    <img
      src="/betalan/tournaments/prize_rocket_league.png"
      alt="Rocket League Prizes"
      class="responsive-img"
    />

    <ul class="link-center">
      <li class="list-item">
        <strong>1st place</strong> – Lego Creator #31136 / #31170
      </li>
      <li class="list-item">
        <strong>2nd place</strong> - Lego City #60400 / #60459
      </li>
    </ul>
    <h2 class="section-title">Participation info</h2>

    <ul class="list">
      <li class="list-item"><strong>Tournament Name:</strong> BetaLAN25RL</li>
      <li class="list-item"><strong>Tournament Password:</strong> To be announced on Discord</li>

      <li class="list-item"><strong>Tournament Host (Discord):</strong> Timothy_</li>
    </ul>

    <p class="paragraph">
      Participants are responsible for finding their own teammates! Use the channel #rocket-league on <a href="https://discord.gg/ggUtjr8TSQ" target="_blank" rel="noopener noreferrer"><strong>Discord</strong></a> if you need help finding one.
    </p>
    <p class="paragraph mt-5">📢 Winners will be announced on BetaLAN Gameshow 23:00 the same day!</p>
    <p class="paragraph mt-12">Good luck and have fun! See you there!</p>
  </Tournament>
</MainLayout>