---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/containers/Container.astro";
import Faq from "@components/widgets/Faq.astro";
import { Image } from "astro:assets";

import FadderUkeImage from "@assets/studiestart.jpg";
import Discord from "@components/widgets/Discord.astro";
---

<PageLayout title="Ny student">
  <Container>
    <h1 class="mb-4 border-b-2 border-gray-600 pb-4 text-4xl font-bold dark:border-gray-400">
      Velkommen til studiestart! 游꿀
    </h1>
    <p class="my-4">
      Beta er linjeforeningen for studenter innen cybersikkerhet, dataingeni칮r, IKT eller kunstig
      intelligens ved UiA Grimstad. Som student p친 et av disse studiene er du automatisk medlem og
      kan utnytte deg av alle arrangementer, eventer og fordeler. Linjeforeningen drives av oss
      studenter for 친 passe p친 at du har det bra p친 studiet.
    </p>

    <p class="my-4">
      Noe du lurer p친? Sjekk ut <a href="#faq" class="text-brand underline hover:opacity-75"
        >ofte stilte sp칮rsm친l</a
      >
      eller <a href="mailto:post@betauia.net" class="text-brand underline hover:opacity-75"
        >kontakte oss</a
      > dersom det er noe du ikke finner svar p친 der!
    </p>

    <h2 class="mb-4 mt-8 text-3xl font-bold">Fadderuka</h2>

    <p class="my-4">
      I fadderuka blir det flere sosiale treff og eventer arrangert av b친de UiA og studentlivet her.
      Det blir alt fra Pubr칝s og fest til spillkveld, s친 vi h친per alle finner noe de liker og blir
      kjent med hyggelige medstudenter og universitetet.
    </p>

    <p class="my-4 italic">
      Alle eventer holdes oppdatert p친 <a
        href="https://sia.no/arrangementer/"
        class="text-brand underline hover:opacity-75">SiA sin kalender og app</a
      >, og Beta har lagd en uoffisiell, men oppsumerende <a
        href="/ny-student/fadderuke"
        class="text-brand underline hover:opacity-75">tidslinje med fadder arrangementer</a
      > for hele uken.
    </p>

    <Image src={FadderUkeImage} alt="Image from fadderuke" class="my-8 rounded-lg" />

    <Discord />
  </Container>
  <Container>
    <h2 id="faq" class="mb-4 text-3xl font-bold">Ofte stilte sp칮rsm친l</h2>
    <Faq
      title="Beta"
      items={[
        {
          question: "Hva arrangerer Beta?",
          answer:
            "Gjennom studie친ret setter Beta opp et spekter av arrangementer. Det arrangeres alt fra faglige kurs og hackathons til julebord og paintball. Vi har ukentlige m칮ter i interessegrupper og ulike komiteer slik at du kan v칝re med 친 p친virke hva linjeforeningen bruker tid og penger p친 친 arrangere. F칮lg med p친 Discord for 친 finne ut n친r og hva som skjer!",
        },
        {
          question: "Hva er en bedpress?",
          answer:
            "Beta arrangerer jevnlig bedriftspresentasjoner gjennom semesteret i samarbeid med en rekke bedrifter. Dette gir deg en unik mulighet til 친 bli kjent med de forskjellige bedriftene og utforske mulige jobbmuligheter. Kveldene rundes ofte av med mat og bonger p친 bedriftens regning.",
        },
      ]}
    />
    <Faq
      title="Studiene"
      items={[
        {
          question: "Hva er FYSE?",
          answer:
            "FYSE er en av UiA sine mentor ordninger, og alle studentene v친re skal ha blitt kontaktet av en mentor via mail. Mentoren din er en erfaren student som legger til rette for at du b친de kan mestre studiene og finne deg til rette p친 campus. P친 tirsdagen i studiestartuka vil du m칮te FYSE-mentoren din for f칮rste gang.",
        },
      ]}
    />
    <Faq
      title="Studentlivet"
      items={[
        {
          question: "Hvordan finner jeg arrangementer som skjer?",
          answer:
            "Arrangementer kommer fortl칮pende p친 SiA sin kalender og app. Disse arrangeres av flere ulike studentaktiviteter og er en god m친te 친 bli kjent med studenter fra ulike retninger. Beta sine arrangementer vil deles b친de der og det blir sendt ut notifikasjon p친 Discord, s친 f칮lg med!",
        },
        {
          question: "Er det en arkade p친 campus?",
          answer:
            "Ja! Den finner du p친 rom A3 099 og alle studenter har tilgang med studentkortet sitt. Det er flere ulike rytmespill, dansespill og andre arkadespill, s친 kom og pr칮v!",
        },
      ]}
    />
  </Container>
</PageLayout>
