---
import Toggle from "@components/ui/Toggle.astro";
import Button from "@components/ui/Button.astro";
---

<div class="flex items-center gap-4">
  <Toggle id="theme-toggle" />
  <!-- <div class="hidden md:block">
    <Button href="/login" type="secondary">Logg inn</Button>
  </div> -->
</div>
