---
import Toggle from "@components/ui/Toggle.astro";
import { Icon } from "astro-icon/components";
---

<div class="flex items-center gap-4">
  <Toggle id="theme-toggle" />
  <div class="hidden md:block">
    <a
      href="/account"
      class="text-fg-base transition-colors hover:text-fg-muted dark:text-dark-fg-base hover:dark:text-dark-fg-muted"
      aria-label="Min bruker"
      title="Min bruker"
    >
      <Icon name="fa-solid:user-circle" class="h-6 w-6 transition" />
    </a>
  </div>
</div>
