---
import { Icon } from "astro-icon/components";

interface Props {
  id: string;
  label: string;
}

const { id, label } = Astro.props;
---

<button
  class="dropdown-toggle flex items-center gap-2 text-fg-muted transition-colors hover:text-fg-base dark:text-dark-fg-muted dark:hover:text-dark-fg-base"
  data-target={id}
  type="button"
  aria-expanded="false"
>
  <span>{label}</span>
  <Icon name="fa-solid:chevron-down" class="h-3 w-3" />
</button>
