---
import DropdownItem from "@components/layout/header/dropdown/DropdownItem.astro";
import type { DropdownItem as DropdownItemType } from "@components/layout/header/config";

interface Props {
  id: string;
  items: DropdownItemType[];
}

const { id, items } = Astro.props;
---

<div
  id={`dropdown-${id}`}
  class="max-h-0 overflow-hidden border-t border-bg-base bg-bg-raised opacity-0 transition-[max-height,opacity] duration-300 ease-out dark:border-dark-bg-raised dark:bg-dark-bg-base"
>
  <div
    class="mx-auto grid max-w-6xl grid-cols-1 gap-4 px-4 py-6 text-fg-base dark:text-dark-fg-base sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    {items.map(item => <DropdownItem item={item} />)}
  </div>
</div>
