---
import Layout from "./Layout.astro"

const {frontmatter} = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="mx-auto w-full max-w-7xl px-2 sm:px-6 lg:px-8">
    <slot />
  </div>
</Layout>
