html {
	font-family: Ubuntu Mono;
	font-size: 16px;
}

a {
	color: inherit;
}

h1 {}

a:hover {
	color: inherit;
}

.navbar-dark .navbar-nav a {
	font-size: 1.5em;
	color: rgba(255, 255, 255, 0.8);
	margin: 0 1em;
}

.listings {
	list-style-type: none;
	text-align: left;
}

.listings li {
	padding-bottom: 1em;
}

.listings ul {
	list-style-type: lower-greek;
}

.beta_logo {
	vertical-align: top;
	margin-right: "0.2em";
}

.contact_aliens {
	text-align: center;
	font-size: 18px;
}

.footer {
	padding: 2em 0;
	background-color: #eeeeee;
}

.footer-breathing {
	padding: "2em"
}

/* TODO: make all the cards have the same size */
/* .pick_a_card {} */

.footer-icon {
	margin-right: 0.5em
}

.styret {
	margin-top: 3em;
	margin-bottom: 3em;
	text-align: center;
}

.styret h1 {
	margin: 1em 0
}