@font-face {
	font-family: 'CascadiaCode', 'Monospace';
	src: url('/assets/CascadiaCode.ttf');
}

body {
	font-size: 16px;
}

a {
	color: inherit;
}

.blue {
	color: #0085ff;
}

/* Gives of a color glow when hovering an a-tag */
a:hover {
	color: #0085ff;
	text-decoration: none;
}

.navbar-dark .navbar-nav a {
	font-size: 1.5em;
	color: rgba(255, 255, 255, 0.8);
	margin: 0 1em;
}

.listings {
	list-style-type: none;
	text-align: inherit;
}

.listings li {
	padding-bottom: 1em;
}

ol {
	position: relative;
	list-style: none;
	text-align: center;
}

.center {
	text-align: center;
}

.beta_logo {
	vertical-align: top;
	margin-right: "0.2em";
}

.contact_aliens {
	font-size: 18px;
}

.footer {
	padding: 2em 0;
	background-color: #eeeeee;
}

.footer-breathing {
	padding: "2em"
}

/* TODO: make all the cards have the same size
.pick_a_card {} */

.footer-icon {
	margin-right: 0.5em
}

.styret {
	margin-top: 3em;
	margin-bottom: 3em;
	text-align: center;
}

.styret h1 {
	margin: 1em 0;
}

.wiki-image {
	width: 100%;
}

.info-group {
	margin-bottom: 1.5em;
}

.frontpage-jumbo {
	text-align: center;
}

.copyright-notice .row {
	justify-content: center;
}