---
import BaseLayout from "@layouts/BaseLayout.astro";
import Container from "@components/layout/Container.astro";

import Card from "@components/ui/Card.astro";

import Prose from "@components/semantics/Prose.astro";
---

<BaseLayout title="Misc Verktøy">
  <Container>
    <Prose>
      <h1 style="display: flex; justify-content: center; align-items: center;">Misc Verktøy</h1>
    </Prose>
    <div class="mt-12 grid grid-cols-1 gap-4 md:grid-cols-3"></div>
  </Container>
</BaseLayout>
