---
import MainLayout from "@layouts/Main.astro";
import Tournament from "@layouts/tournament.astro";
import "../tournaments.css";
---

<MainLayout title="Minecraft Survival Games">
  <Tournament>
    <h1 class="title">Minecraft Survival Games</h1>
    <img
      src="/betalan/tournaments/minecraft-survival-games.png"
      alt="Minecraft Survival Games"
      class="responsive-img"
    />
    <h2 class="section-title">What is the Minecraft Survival Games?</h2>

    <p class="paragraph">
      It's basically The Hunger Games, but in Minecraft! Do you love playing Minecraft? 
      Maybe you're great at fighting games or even better at dodging attacks? Then this is the perfect game for you!
    </p>

    <h2 class="section-title">Prizes</h2>

    <img
      src="/betalan/tournaments/minecraft-potion-bottle.png"
      alt="Minecraft Survival Games Prize"
      class="responsive-img"
      style="max-width: 250px;"
    />

    <ul class="link-center">
      <li class="list-item">
        <strong>1st place</strong> – Minecraft Potion Bottle Lamp
      </li>
    </ul>

    <h2 class="section-title">Rules</h2>

    <p class="paragraph">The rules are as follows:</p>

    <ul class="list">
      <li class="list-item">
        <strong>Who can play?</strong> – You can either play solo or in team
      </li>
      <li class="list-item">
        <strong>Who wins?</strong> – The last man/team standing
      </li>
      <li class="list-item">
        <strong>Remember</strong> – No cheating
      </li>
    </ul>

    <h2 class="section-title">How it works?</h2>

    <p class="paragraph">
      Players are dropped into a world with chests scattered across the map, some in the center and others around the map. 
      The goal is to fight other players in PvP battles, with the last remaining player (or team) being the winner. 
      As the game progresses, the area shrinks, pushing players closer together.
    </p>

    <h2 class="section-title">When?</h2>

    <p class="paragraph">📢 The competition starts on Saturday at 23:59</p> 
  </Tournament>
</MainLayout>