---
import MainLayout from "@layouts/Main.astro";
import Tournament from "@layouts/tournament.astro";
import "../tournaments.css";
---

<MainLayout title="Setup Competition">
  <Tournament>
    <h1 class="title">Tekken 7 Tournament</h1>
    <img
      src="/betalan/tournaments/Tekken7-Background.jpg"
      alt="Setup Competition"
      class="responsive-img"
    />
    <h2 class="section-title">Do You Have What It Takes to Rule the Iron Fist?</h2>

    <p class="paragraph">
      Are you prepared to show your might at the BetaLAN tournament? Whether you're a rising underdog or a seasoned warrior, this is your stage.
      The only question is...

    </p>
    <p class="paragraph">
      Can you survive the King of Iron Fist? 👊⚡
    </p>
    <h2 class="section-title">Criteria</h2>

    <p class="paragraph">The tournament will be driven by these rules:</p>

    <ul class="list">
      <li class="list-item">
        Each player will play against each other in a best of 3 format, until top 8.
      </li>
      <li class="list-item">
        Both players will choose their characters, and every round will be played on a random stage.
      </li>
      <li class="list-item">
        The winner of the round has to stay at the character they won with,
        and the opponent gets to switch characters if they choose to.
      </li>

      <li class="list-item">
        After each set, the winner has to approach the TO's table with the results.
      </li>
      <li class="list-item">
        Since the tournament is run on a double-bracket, a lost set will move the loser over to the losers bracket,
        and another loss will remove any opportunity to progress further into the tournament.
      </li>
      <li class="list-item">
        There will be prizes for the top three winners.
      </li>
    </ul>

    <h2 class="section-title">Sign up here:</h2>

    <h3 class="subsection-title">Submission Requirements:</h3>

    <ul class="list">
      <li class="list-item">
        Make sure that you've already ordered tickets for BetaLAN.
        <p class="paragraph">If not, you can order one here: <p class="paragraph">👉<a href="https://tikkio.com/events/51463" 
                                                                  class="link">
          https://tikkio.com/events/51463</a>👈
          </p>
        </p>
      </li>
      <li class="list-item">
        <strong>Link for Signing up:</strong> 👉  <a
          href="https://challonge.com/8ib0rsbl"
          class="link"
          >https://challonge.com/8ib0rsbl</a
        >👈
      </li>
    </ul>

    <p class="paragraph mt-12">📢 Winners will be announced at BetaLAN Gameshow at 23:00!</p>
  </Tournament>
</MainLayout>
