@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Inconsolata:400');


*,
::after,
::before {
  box-sizing: border-box;
}

:root {
  /* COLORS */
  /* primary */
  /* Primary colors */
  --primary-bg-color: #0d0d0d;
  /* Background color */
  --primary-btn-color: #fff;
  /* Button text color */
  --primary-modal-bg-color: rgba(0, 0, 0, 0.8);
  /* Modal background color */

  /* Secondary colors */
  --secondary-bg-color: #000;
  /* Secondary background color */
  --secondary-text-color: #ffffff;
  /* Secondary text color */

  /* Primary */
  --primary-50: #EDFBFF;
  --primary-100: #D6F4FF;
  --primary-200: #B5EDFF;
  --primary-300: #83E4FF;
  --primary-400: #48D2FF;
  /* Main */
  --primary-500: #1EB5FF;
  --primary-600: #0699FF;
  --primary-700: #0085FF;
  --primary-800: #0865C5;
  --primary-900: #0D579B;

  /* Grey */
  --grey-0: #fafbfc;
  --grey-50: #f2f4f8;
  --grey-100: #eaedf3;
  --grey-200: #e2e7ef;
  --grey-300: #dbe0ea;
  --grey-400: #d3dae6;
  --grey-500: #cbd3e1;
  --grey-600: #adb3bf;
  --grey-700: #8e949e;
  --grey-800: #70747c;
  --grey-900: #51545a;
  --grey-1000: #333538;
  --grey-1100: #14151613;

  /* Blue grey */

  --blue-grey-50: #F0F4F8;
  --blue-grey-100: #D9E2EC;
  --blue-grey-200: #BCCCDC;
  --blue-grey-300: #9FB3C8;
  --blue-grey-400: #829AB1;
  --blue-grey-500: #627D98;
  --blue-grey-600: #486581;
  --blue-grey-700: #334E68;
  --blue-grey-800: #243B53;
  --blue-grey-900: #102A34;

  /* Dark mode */
  --color-surface-mixed-100: #191c26;
  --color-surface-mixed-200: #2e313a;
  --color-surface-mixed-300: #454750;
  --color-surface-mixed-400: #5d5f67;
  --color-surface-mixed-500: #76777e;
  --color-surface-mixed-600: #8f9197;

  /* Accent colors */
  --accent-color-blue: #0085ff;
  /* Blue color for links and highlights */
  --accent-color-red: #C8102E;
  /* Red color for specific UI elements */
  --accent-color-light: #F2F3F5;
  /* Light color for hover states */
  --accent-color-dark: #131E29;
  /* Dark color for backgrounds and tabs */

  /* Neutral black */
  --white: #fff;
  /* Neutral white */

  /* Light mode colors */
  --light-mode-text: #000000;
  /* Light mode text color */
  --light-mode-secondary-bg: #f2f2f2;
  /* Light mode secondary background */
  --light-mode-border: var(--grey-200);
  /* Light mode border color */


  /* typography */
  --headingFont: 'Lato', sans-serif;
  --bodyFont: 'Montserrat', sans-serif;
  --smallText: 0.7em;

  /* misc */
  --background-color: #121212;
  --light-mode-backgroundColor: var(--grey-50);
  --textColor: var(--grey-0);
  --white-mode-color: var(--grey-1100);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadows */
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}


body {
  background-color: var(--background-color);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  overflow-y: scroll;
  font-family: var(--bodyFont);
  font-weight: 400;
  line-height: 1.75;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

p {
  margin-bottom: 1.5rem;
}

small,
.text-small {
  font-size: var(--smallText);
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.logo {
  display: inline-block;
  vertical-align: top;
  width: 10vw;
  height: auto;
  max-width: 238px;
  min-width: 120px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 20vw;
    max-width: 150px;
  }
}

@media screen and (min-width: 1400px) {
  .logo {
    width: auto;
    max-width: 200px;
  }
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.375rem 0.75 rem;
  font-size: 18px;
  text-transform: capitalize;
}

.header-text {
  color: var(--white);
}

.is-beta-blue {
  color: var(--primary-700);
}

.is-uia-red {
  color: var(--accent-color-red);
}

a,
button {
  transition: 0.5s;
}

a,
button:hover {
  color: var(--blue-grey-400);
}

.is-beta-black {
  color: var(--background-color);
}

.is-beta-white {
  color: var(--background-color);
}

.icon-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  overflow: auto;
  background-color: var(--background-color);
  box-shadow: var(--shadow-2);
}

.modal-content {
  background-color: var(--color-surface-mixed-100);
  color: var(--primary-50);
  margin: 15% auto;
  padding: 20px;
  border: none;
  border-radius: 4px;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .level {
    flex-direction: column;
    align-items: center;
  }
}

.close {
  color: var(--color-surface-mixed-500);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: var(--color-surface-mixed-100);
  text-decoration: none;
  cursor: pointer;
}

.modal-btn {
  margin-top: 10px;
}

/* ====================== */
/* ==== navbar start ==== */
/* ====================== */

/* .navigation-items i {
  font-size: 1rem;
  margin-right: 1vh;
}

.navigation-header {
  background-color: var(--color-surface-mixed-100);
  box-shadow: var(--shadow-3);
  padding: 0 2vw;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
} */

/* nav {
  width: 100%;
  max-width: 1200px;
  padding: 0 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navigation-items i {
  font-size: calc(1rem + 0.5vw);
  margin-right: 1vh;
} */

/* @media screen and (min-width: 1400px) {

  .navigation-header {
    padding: 0 4vw;
    height: 80px;
  }

  nav {
    padding: 0 2vw;
  }

  .navigation-items i {
    font-size: 1.5rem;
    /* or whatever maximum size you deem appropriate */
/*}*/
/*}*/


/* Don't show hamburger on desktop */
/* .hamburger {
  display: none;
  font-size: 20px;
  font-weight: 800;
  color: var(--grey-0);
} */


/* @media screen and (max-width: 768px) {
  .navbar-hamburger {
    display: flex;
    cursor: pointer;
    z-index: 2;
  }

  .navbar-start {
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 58px;
    background-color: var(--background-color);
    width: 100%;
    height: calc(100vh - 58px);
    padding-top: 60px;
    gap: 10vh;
    z-index: 2;
  }

  .navbar-start a {
    font-size: 25px;
    font-weight: 200;
  }
} */

.navbar-start {
  margin-left: 2rem;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .navbar-start,
  .navbar-end {
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

/* ==================== */
/* ==== Navbar end ==== */
/* ==================== */



/* ==================== */
/* ==== Tabs start ==== */
/* ==================== */
.tabs {
  width: 100%;
}

.tabs .custom-link {
  color: var(--primary-50);
}

.tabs .custom-link:hover {
  color: var(--primary-600);
}

/* Style for the active tab */
.tabs li.is-active .custom-link {
  background-color: var(--color-surface-mixed-100) !important;
  color: var(--primary-700);
}

.tabs ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding-left: 0;
  flex-wrap: nowrap;
  overflow-x: auto;
  flex-direction: row;
  overflow-y: hidden;
  margin-top: 5rem;
  background-color: var(--background-color);
}

.tabs li {
  flex: 1 0 0;
  text-align: center;
  box-sizing: border-box;
}

.tabs a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


@media (max-width: 768px) {
  .tabs ul {
    flex-direction: column;
    /* Hide horizontal scrollbar */
    overflow-x: hidden;
  }

  .tabs li.tab {
    /* Make tabs full width when stacked */
    width: 100%;
  }
}

/* ================== */
/* ==== Tabs end ==== */
/* ================== */


/* ================================= */
/* ===== Markdown custom start ===== */
/* ================================= */

.content-tab {
  background-color: var(--color-surface-mixed-100);
  margin: auto;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: var(--shadow-2);
}

.custom-markdown {
  color: var(--secondary-text-color);
}

.custom-markdown ul {
  list-style-type: none;
  padding-left: 20px;
  /* Required for absolute positioning within li:before */
  position: relative;

}

.custom-markdown li {
  /* Spacing between list items */
  margin-bottom: 0.5em;
  /* Required for positioning the pseudo element li:before */
  position: relative;

}

.custom-markdown li:before {
  /* Default bullet point */
  content: '•';
  position: absolute;
  left: -1.0em;
}

.custom-markdown li ul li:before {
  /* Open circle for nested list items */
  content: '◦';
  position: absolute;
  left: -0.75em;
}

.custom-markdown strong {
  margin-right: 5px;
}

.custom-markdown a {
  text-decoration: underline;
  font-weight: 500;
  color: var(--accent-color-blue);
}

/* =============================== */
/* ===== Markdown custom end ===== */
/* =============================== */



/* ======================================== */
/* ===== Dark/light mode toggle start ===== */
/* ======================================== */

/* Mode Toggle Button */
#modeToggle {
  background-color: var(--color-surface-mixed-200);
  border: 1px solid var(--grey-1100);
  border-radius: 15%;
  color: var(--grey-0);
  transition: background-color 0.3s, color 0.3s;
  margin-right: 1rem;
  /* Adjust right margin for spacing */
}

#modeToggle:hover {
  background-color: var(--blue-grey-300);
  color: var(--color-surface-mixed-100);
}

/* Light Mode - General Styles */

.light-mode {
  background-color: var(--light-mode-backgroundColor);
}

body.light-mode,
body.light-mode p,
body.light-mode h1,
body.light-mode h2,
body.light-mode h3,
body.light-mode h4,
body.light-mode h5,
body.light-mode h6,
body.light-mode ul,
body.light-mode ol,
body.light-mode li,
body.light-mode em,
body.light-mode strong,
body.light-mode .custom-link {
  color: var(--light-mode-text);
}

body.light-mode .header-title h1,
body.light-mode .header-title h2 {
  color: var(--primary-800);
}

/* Navbar light mode */
.light-mode .navigation-header {
  background-color: var(--grey-100);
}

.light-mode .navigation-items>a {
  color: var(--light-mode-text);
}

.light-mode .navigation-items>a:hover {
  color: var(--primary-700);
}

.light-mode .hamburger {
  color: var(--neutral-color-dark);
}

.light-mode ul {
  background-color: var(--light-mode-backgroundColor);
}

@media screen and (max-width: 768px) {
  .light-mode .navigation-items {
    background-color: var(--accent-color-light);
  }
}

body.light-mode hr {
  background-color: var(--color-surface-mixed-500);
}

body.light-mode .header-text {
  color: var(--grey-1100);
}

/* Style for the active tab */
body.light-mode .tabs li.is-active .custom-link {
  background-color: var(--grey-200) !important;
  color: var(--accent-color-blue);
}

body.light-mode .custom-link:hover {
  background-color: var(--grey-100);
}

body.light-mode .content-tab {
  background-color: var(--grey-200);
}

/* Light Mode - Mode Toggle Button */
body.light-mode #modeToggle {
  background-color: var(--grey-300);
  border: 1px solid var(--grey-100);
  color: var(--blue-grey-900);
  border: 1px solid var(--light-mode-border);
}

body.light-mode #modeToggle:hover {
  background-color: var(--color-surface-mixed-200);
  color: var(--white);
}


body.light-mode .custom-markdown a {
  color: var(--accent-color-red);
}

body.light-mode .modal-content {
  background-color: var(--grey-200);
}

body.light-mode .btn:hover {
  color: var(--primary-200);
}

/* ====================================== */
/* ===== Dark/light mode toggle end ===== */
/* ====================================== */