* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}


body {
  background-color: #ffffff;
}

#content {
  min-height: 100vh;
}

#content-container {
  padding-top: 4rem;
}

header {
  height: 4rem;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}

header .content {
  height: 100%;
  margin-inline: 4rem;
  display: flex;
  justify-content: space-between;
}

header .logo {
  width: 20%;
  display: flex;
  align-items: center;
}

header .logo img {
  height: 80%;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  padding-inline: 2rem;
  height: 4rem;
  display: flex;
  align-items: center;
}





/* CALENDAR */

.calendar {
  list-style: none;
}

.calendar li {
  margin: 1rem 2rem;
  background-color: blue;
  border-radius: 8px;
  color: #fff;
}

.calendar li a {
  padding: 1rem 1rem;
  display: block;
  text-decoration: none;
  color: inherit;

}

.calendar .card {
  display: flex;
  align-items: top;
}

.calendar .date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar .day {
  font-size: 2rem;
}

.calendar .month {
  font-size: 1rem;
}

.calendar .betadev {
  background-color: purple;
}

.calendar .betasec {
  background-color: green;
}

.calendar .bedpress {
  background-color: red;
}

.calendar .desc {
  padding-left: 1rem;
}

.calendar .desc ul li {
  background: none;
  margin: 0;
}

.calendar .desc h3 {
  font-size: 1.5rem;
}