@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

ul {
  list-style: none;
}


body {
  background-color: #ffffff;
}

#content {
  min-height: 100vh;
}

#content-container {
  min-height: 100vh;
}

header {
  height: 4rem;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0px 2px 8px -2px gray;
}

header .content {
  height: 100%;
  margin-inline: 4rem;
  display: flex;
  justify-content: space-between;
}

header .logo {
  width: 20%;
  display: flex;
  align-items: center;
}

header .logo img {
  height: 80%;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  padding-inline: 2rem;
  height: 4rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0085ff;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem 4rem;
  background-color: #0085ff;
  color: #fff;
}

footer div {
  width: 33%;
  text-align: center;
}

footer .beta {
  text-align: left;
}

footer .resources {
  text-align: right;
}



footer div img {
  width: 10rem;
}

a {
  text-decoration: none;
  color: inherit;
}


.construction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.construction h1 {
  border-bottom: 2px solid black;
  margin-bottom: 1rem;
}

.construction img {
  height: 16rem;
}


button {
  background-color: #0085ff;
  color: #fff;
  font-size: 1.25rem;
  border-radius: 8px;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

button:hover {
  cursor: pointer;
}





/* CALENDAR */

.calendar {
  list-style: none;
}

.calendar li {
  margin: 1rem 2rem;
  background-color: blue;
  border-radius: 8px;
  color: #fff;
}

.calendar li a {
  padding: 1rem 1rem;
  display: block;
  text-decoration: none;
  color: inherit;

}

.calendar .card {
  display: flex;
  align-items: top;
}

.calendar .date {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar .day {
  font-size: 2rem;
}

.calendar .month {
  font-size: 1rem;
}

.calendar .betadev {
  background-color: purple;
}

.calendar .betasec {
  background-color: green;
}

.calendar .bedpress {
  background-color: red;
}

.calendar .desc {
  padding-left: 1rem;
}

.calendar .desc ul li {
  background: none;
  margin: 0;
}

.calendar .desc h3 {
  font-size: 1.5rem;
}