---
import PageLayout from "./PageLayout.astro";
import Container from "@components/containers/Container.astro";

const { frontmatter } = Astro.props;
---

<PageLayout title={frontmatter.title}>
  <Container>
    <div class="md-content">
      <h1 class="my-0 mb-0">{frontmatter.title}</h1>
      <slot />
    </div>
  </Container>
</PageLayout>
