---
import PageLayout from "./PageLayout.astro";
import Prose from "../components/proses/MarkdownProse.astro";
import Container from "@components/containers/Container.astro";

const { frontmatter } = Astro.props;
---

<PageLayout title={frontmatter.title}>
  <Container>
    <Prose>
      <h1 class="mb-0">{frontmatter.title}</h1>
      <slot />
    </Prose>
  </Container>
</PageLayout>
