---
import BetaLANLayout from "./BetaLAN-Layout.astro";
---

<BetaLANLayout backgroundImage="/betalan/jungle-background.jpg">
    <div class="bg-slate-800 bg-opacity-90 py-3 px-2 md:px-4 rounded-lg mt-4 max-w-4xl mx-auto text-yellow-100">
        <slot />
    </div>
</BetaLANLayout>