{% extends "components/base.html" %}

{% block title %}Hjem | BETA{% endblock %}

{% block content %}

<div class="container full title">
    <img src="{{ url_for('static', filename='img/Beta_blue_1.png') }}" alt="under-construction, https://commons.wikimedia.org/wiki/File:Under_construction_blue.svg" />
    <p>Linjeforeningen for datastudenter tilhørende UiA Grimstad</p>
    <div class="box">
      <a href="/about" class="btn">Om BETA</a>
      <a href="https://discord.gg/U87D3kPdJ3" class="btn">Discord</a>
    </div>
    <span class="wip">Under konstruksjon, sommerprosjekt 2024</span>
</div>

{% endblock %}
