---
import Container from "@components/containers/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
---

<PageLayout
  title="Game Jam"
  description="BetaDev holdings a semiannual gamejam! If you want to create a game, learn game development or want to have some fun — join the gamejam!"
>
  <Container>
    <h1 class="mb-4 border-b-2 pb-4 text-4xl font-bold">Game Jam Autumn 2025</h1>

    <p>
      BetaDev is currently holding its semiannual gamejam! If you want to create a game, learn game
      development or want to have some fun — join the gamejam by creating a game and show it off at
      BetaLAN!
    </p>

    <h2 class="mb-4 mt-8 text-2xl font-bold">Theme</h2>
    <p>The theme of this semester's game is <b>2000s retro internet</b>, think the MySpace era!</p>

    <h2 class="mb-4 mt-8 text-2xl font-bold">Prizes</h2>
    <p>
      There are of course prizes for the winners. The winners will be announced at BetaLAN between
      the 24. and 26. of October. You must showcase your game at BetaLAN to be eligible for prizes.
    </p>
    <ol class="mt-4">
      <li>
        <p>1st place gets a prize of <b>1000kr</b> and maybe some more</p>
      </li>
      <li>
        <p>2nd place gets a prize of <b>500kr</b></p>
      </li>
    </ol>
    <h2 class="mb-4 mt-8 text-2xl font-bold">Rules</h2>
    <ul class="list-disc">
      <li>You may use any technologies you want</li>
      <ul class="list-disc pl-8">
        <li>Cross-platform is a plus</li>
        <li>Being able to compile to web is a plus, so it can be shown of on BETA's</li>
        <li>website Recommendations: godot, unity, gamemaker, pygame, p5.js to name a few.</li>
      </ul>
      <li>You may form teams</li>
      <li>You must be a student at UiA Grimstad</li>
    </ul>

    <p class="mt-4">
      Questions? Ask current BETADEV leader on discord <code>@myrstad_</code> or ask in BETA's <a
        class="bg-brand p-1 text-white"
        href="https://discord.gg/3xBPkDsaXy">discord server</a
      >.
    </p>
  </Container>
</PageLayout>
