---
import Container from "@components/layout/Container.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Button from "@components/ui/Button.astro";
---

<BaseLayout title="404">
  <Container class="flex min-h-svh flex-col items-center justify-center text-center">
    <h1 class="text-4xl font-semibold">Her var det tomt...</h1>
    <p class="mt-4 text-xl text-fg-muted dark:text-dark-fg-muted" id="random-error-message">
      Denne Siden Finnes Ikke!
    </p>
    <div class="mt-6 flex gap-4">
      <Button href="/" type="primary">Gå tilbake</Button>
      <Button href="mailto:post@betauia.net" type="secondary">Ta kontakt</Button>
    </div>
  </Container>
</BaseLayout>

<!-- Random error message -->
<script>
  const messages = [
    "Dette blir ikke fikset før vi får mer pizza!",
    "Denne siden forsvant kanskje i siste commit.",
    "Designeren mente det var minimalistisk.",
    "Vi trodde noen skulle fikse det. Ingen gjorde det.",
    "It's not a bug, it's a feature!",
    "Worked on my machine!",
    "Har du hørt om 99.99% uptime? Ikke vi!",
    "Sjekk AWS US-East-1 sin status.",
    "Your majesty, they hit the second server!",
  ];

  const randomText = messages[Math.floor(Math.random() * messages.length)];

  // Make sure the DOM is loaded before trying to access the element
  const errorElement = document.getElementById("random-error-message");
  if (errorElement) {
    errorElement.innerText = randomText;
  }
</script>
