---
import PageLayout from "@layouts/PageLayout.astro";
import FullContainer from "@components/containers/FullContainer.astro";
import Button from "@components/ui/Button.astro";
import { Image } from "astro:assets";
import notfoundImage from "@assets/logos/404.png";
---

<PageLayout title="Page Not Found">
  <FullContainer title="Page Not Found">
    <section
      class="flex min-h-screen flex-col items-center justify-center gap-8 px-4 py-16 text-center"
    >
      <Image
        src={notfoundImage}
        alt="Page not found"
        loading="eager"
        class="w-150 max-w-full rounded-xl shadow-lg"
      />

      <p class="text-lg text-gray-600">Sorry, we couldn’t find the page you’re looking for.</p>

      <div class="flex flex-wrap justify-center gap-4">
        <Button text="Go to Homepage" href="/" />
        <Button text="Go Back" href="javascript:history.back()" type="secondary" />
      </div>
    </section>
  </FullContainer>
</PageLayout>
