---
import PageLayout from "@layouts/PageLayout.astro";
import FullContainer from "@components/containers/FullContainer.astro";
import Button from "@components/ui/Button.astro";
---

<PageLayout title="Home">
  <FullContainer>
    <div class="flex h-full justify-center">
      <div class="container mx-auto my-auto flex max-w-4xl px-4 sm:px-6 lg:px-8">
        <div class="mx-auto px-2 text-center sm:px-6 lg:px-8">
          <div class="flex justify-center">
            <img class="h-24 w-auto" src="imgs/Beta_blue_1.png" alt="BETA logo" />
          </div>
          <p class="mt-4 text-lg">
            BETA er linjeforeningen for studenter ved cybersikkerhet, dataingeniør, IKT eller
            kunstig intelligens tilhørende UiA Grimstad.
          </p>
          <div class="mb-2 mt-6">
            <Button text="Discord" href="https://discord.gg/3xBPkDsaXy" target="_blank" />
            <Button text="Om oss" href="/om" type="secondary" />
          </div>
        </div>
      </div>
    </div>
  </FullContainer>
</PageLayout>
