---
import BaseLayout from "@layouts/BaseLayout.astro";
import Container from "@components/layout/Container.astro";
import Button from "@components/ui/Button.astro";
import BetaLogo from "@assets/logos/Beta.svg";

import Banner from "@components/widgets/Banner.astro";
import HeroBackground from "@components/fun/HeroBackground.svelte";

const showBanner = false;
const bannerText = "";
const bannerLink = "/";
---

<BaseLayout title="Home">
  <Container class="flex min-h-svh flex-col justify-center">
    <div class="flex h-full items-center">
      <div>
        <BetaLogo class="h-24 text-brand" />
        <h1 class="mt-4 text-4xl font-semibold">Linjeforeningen for datastudenter</h1>
        <p class="mt-2 max-w-2xl text-fg-muted dark:text-dark-fg-muted">
          Beta er linjeforeningen for studenter innen cybersikkerhet, dataingeniør, IKT eller
          kunstig intelligens ved UiA Grimstad. Foreningen drives frivillig av studentene våre og
          målet er å gjøre studiehverdagen for datastudenter enda bedre.
        </p>
        <div class="mt-6 flex gap-2">
          <Button href="https://discord.gg/3xBPkDsaXy" target="_blank">Discord</Button>
          <Button href="/om" type="secondary">Om Beta</Button>
        </div>
      </div>
    </div>

    {showBanner && <Banner text={bannerText} link={bannerLink} />}
    <HeroBackground client:load />
  </Container>
</BaseLayout>
