---
import PageLayout from "@layouts/PageLayout.astro";
import FullContainer from "@components/containers/FullContainer.astro";
import Button from "@components/ui/Button.astro";
---

<PageLayout title="Home">
  <FullContainer>
    <div class="flex justify-center h-full">
      <div class="container flex max-w-4xl px-4 mx-auto my-auto sm:px-6 lg:px-8">
        <div class="px-2 mx-auto text-center sm:px-6 lg:px-8">
          <div class="flex justify-center">
            <img class="w-auto h-24" src="imgs/Beta_blue_1.png" alt="BETA logo" />
          </div>
          <p class="mt-4 text-lg ">BETA er linjeforeningen for studenter ved cybersikkerhet, dataingeniør, IKT eller kunstig intelligens tilhørende UiA Grimstad.</p>
          <div class="mt-6 mb-2">
            <Button text="Discord" href="https://discord.gg/3xBPkDsaXy" target="_blank"/>
            <Button text="Om oss" href="/om" type="secondary" />
          </div>
        </div>
      </div>
    </div>
  </FullContainer>
</PageLayout>
