---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/containers/Container.astro";
import Faq from "@components/widgets/Faq.astro";
import { Icon } from "astro-icon/components";

import Discord from "@components/widgets/Discord.astro";
import Timeline from "@components/widgets/Timeline.astro";
---

<PageLayout title="Ny Student">
  <Container>
    <h1 class="mb-4 border-b-2 border-gray-600 pb-4 text-4xl font-bold dark:border-gray-400">
      Velkommen til UiA og Grimstad!
    </h1>

    <p class="mb-6"></p>

    <div class="mb-4">
      <Timeline
        title="Fadderuka 2025"
        items={[
          {
            title: "Event 1",
            description: "Info comming!",
            when: "11. Aug",
          },
          {
            title: "Event 2",
            description: "Info comming!",
            when: "12. Aug",
          },
        ]}
      />
    </div>

    <Discord class="mt-4" />
  </Container>
  <Container>
    <h2 class="mb-4 text-3xl font-bold">Ofte stilte spørsmål</h2>
    <Faq
      title="Beta"
      items={[
        {
          question: "Hva arrangerer Beta?",
          answer:
            "Gjennom studieåret setter Beta opp et spekter av arrangementer. Det arrangeres alt fra faglige kurs og hackathons til julebord og paintball. Vi har ukentlige møter i interessegrupper og ulike komiteer slik at du kan være med å påvirke hva linjeforeningen bruker tid og penger på å arrangere. Følg med på Discord for å finne ut når og hva som skjer!",
        },
        {
          question: "Hva er en bedpress?",
          answer:
            "Beta arrangerer jevnlig bedriftspresentasjoner gjennom semesteret i samarbeid med en rekke bedrifter. Dette gir deg en unik mulighet til å bli kjent med de forskjellige bedriftene og utforske mulige jobbmuligheter. Kveldene rundes ofte av med mat og bonger på bedriftens regning.",
        },
      ]}
    />
    <Faq title="Studiene" items={[]} />
    <Faq title="Studentlivet" items={[]} />
  </Container>
</PageLayout>
