---
import MainLayout from "@layouts/Main.astro";
import Tournament from "@layouts/tournament.astro";
import "../tournaments.css";
---

<MainLayout title="Just Dance Competition">
  <Tournament>
    <h1 class="title">Just Dance Competition</h1>
    <img
      src="/betalan/tournaments/just-dance.png"
      alt="Just Dance Competition"
      class="responsive-img"
    />
    <h2 class="section-title">What is the Just Dance Competition?</h2>

    <p class="paragraph">
      It's exactly as it sounds; We're going to play Just Dance! A rhythm game where players following
      on-screen dance moved. Whether you're a dancing pro or just in it for fun, everyone is welcome. 
      So get ready to show your moves one the dancefloor! 
    </p>

    <h2 class="section-title">Prizes</h2>

    <img
      src="/betalan/tournaments/prize-just-dance.png"
      alt="Just Dance Prize"
      class="responsive-img"
    />

    <ul class="link-center">
      <li class="list-item">
        <strong>1st place</strong> – FiFine AMPLIGAME AM8
      </li>
      <li class="list-item">
        <strong>2nd place</strong> - Disco Light
      </li>
    </ul>

    <h2 class="section-title">Criteria</h2>

    <p class="paragraph">Each round will be evaluated based on the following:</p>

    <ul class="list">
      <li class="list-item">
        <strong>Score</strong> – Who achieved the highest score?
      </li>
    </ul>

    <p class="paragraph"> Remember that you need to move your whole body!</p>

    <h2 class="section-title">Scoring</h2>

    <p class="paragraph">
      For each round a pair of payers plays through three pre-selected songs. This competition is a double-elimination 
      tournament which means that the person that received best score out of the three songs goes forward and compete 
      against another winner. If you have lost a round you can still compete in the second bracket and potentially win.
    </p>

    <h2 class="section-title">Sign up</h2>

    <ul class="list">
      <li class="list-item"><strong>Your Name</strong></li>
      <li class="list-item"><strong>Contact Info</strong> (Discord or phone number)</li>
    </ul>

    <p class="paragraph">
      To enter, simply fill in your information using our <a href="https://forms.gle/u2zPwVrKeZybR1La7" class="link"
        >competition form</a
      >. The sign ups ends one hour before the competition starts. (Specific time will be published soon)
    </p>

    <p class="paragraph mt-12">📢 Winners will be announced at sunday after the competition!</p>
  </Tournament>
</MainLayout>