---
import MainLayout from "@layouts/Main.astro";
import Tournament from "@layouts/tournament.astro";
import "../tournaments.css";
---

<MainLayout title="Agder's Best Gamer">
  <Tournament>
    <h1 class="title">Agders Best Gamer</h1>
    <img
      src="/betalan/tournaments/ABG2025Premier.png"
      alt="Prizes for ABG 2025"
      class="responsive-img"
    />
    <h2 class="section-title">What is Agder's Best Gamer?</h2>

    <p class="paragraph">
      Agder's Best Gamer is a yearly competition organised by BETALan to determine the best gamer in Agder. 
      The competition consists of a series hand picked games from mutltiplle different genres looking to 
      test the competitors in a wide range of gaming skills. Weather you are a professional gamer or casual 
      player, it does not matter. If you think you got the skills to claim the gamer crown of Agder, then get
      ready to show the world who the real Legend27 is.
    </p>

    <h2 class="section-title">Prizes</h2>

    <img
      src="/betalan/tournaments/ABG2025Premier.png"
      alt="Prizes for ABG 2025"
      class="responsive-img"
    />

    <ul class="link-center">
      <li class="list-item">
        <strong>1st place</strong> – LIST PIRZES
      </li>
      <li class="list-item">
        <strong>2nd place</strong> - LIST PRIZES
      </li>
      <li class="list-item">
        <strong>3rd place</strong> - LIST PRIZES
      </li>
    </ul>

    <h2 class="section-title">Criteria for competing</h2>

    <p class="paragraph">In order to compete there are some basic criteria that you must meet</p>

    <ul class="list">
      <li class="list-item">
        <strong>1</strong> – You have to own minecraft
      </li><li class="list-item">
        <strong>2</strong> – Look at number 1
      </li>
    </ul>

    <p class="paragraph"> you can also borrow a friend's account if you don't have one yourself</p>

    <h2 class="section-title">Scoring</h2>

    <p class="paragraph">
      For each game, there will be a scoring system. Generally, if the game has a built in scoring system of some 
      kind, that will be the one that will be considered. A contestants ranking in each individual game will be used to determine the
      amount of points the contestant gets on the overall leaderboards. To add more stakes to the games, for each game that passes, 
      a multiplier gets added to each players final score, starting from 1x and increasing by 0.5 each time. As such the later 
      rounds will be more important in determaning the winners.
    </p>

    <h2 class="section-title">Sign up</h2>

    <ul class="list">
      <li class="list-item"><strong>Your Name</strong></li>
      <li class="list-item"><strong>Contact Info</strong> (Discord or phone number)</li>
    </ul>

    <p class="paragraph">
      To enter, simply fill in your information using our <a href="" class="link"
        >competition form</a
      >. The sign ups ends one hour before the competition starts. (Specific time will be published soon)
    </p>

    <p class="paragraph mt-12">📢 Winners will be announced on BetaLAN Gameshow 23:00 the same day!</p>
  </Tournament>
</MainLayout>