---
import MainLayout from "@layouts/Main.astro";
import Tournament from "@layouts/tournament.astro";
import "../tournaments.css";
---

<MainLayout title="Agder's Best Gamer">
  <Tournament>
    <h1 class="title">Agder's Best Gamer</h1>
    <img
      src="/betalan/tournaments/ABGRandomGamesImage.png"
      alt="Prizes for ABG 2025"
      class="responsive-img"
    />
    <h2 class="section-title">What is Agder's Best Gamer?</h2>

    <p class="paragraph">
      Agder's Best Gamer is a yearly competition organised by BetaLAN to determine the best gamer in Agder. 
      Players compete in a wide variety of games, spanning survival, rhythm, puzzle solving and more. No matter
      what games you play, you have a chance of winning and claiming the gamer crown of Agder for yourself.
    </p>
    <p class="paragraph">
      Players compete in a wide variety of games, spanning survival, rhythm, puzzle solving and more. No matter
      what games you play, you have a chancee of winning and claiming the gamer crown of Agder for yourself.
    </p>
    <p class="paragraph">
    If you think you got what it takes, then sign up and show us what you got!
    </p>

    <h2 class="section-title">Prizes</h2>

    <img
      src="/betalan/tournaments/ABG2025Premier.png"
      alt="Prizes for ABG 2025"
      class="responsive-img"
    />

    <ul class="link-center">
      <li class="list-item">
        <strong>1st place</strong> – X-Zero energy and accompanying shaker cup, Cool Mousemat, and Stream deck
      </li>
      <li class="list-item">
        <strong>2nd place</strong> - X-Zero energy and Controller stand
      </li>
      <li class="list-item">
        <strong>3rd place</strong> - Indominus Rex POP figurine
      </li>
    </ul>

    <h2 class="section-title">Criteria for competing</h2>

    <p class="paragraph">In order to compete you must have access to a Minecraft account. Be it your own or a willing friend's account. Thats all. 
    Other than that citeria, there are no other limits</p>

    <h2 class="section-title">Scoring</h2>

    <p class="paragraph">
      For each game there is a predetermined scoring system. A player's ranking in a game will determine how many points they get 
      that round. Each round, all scores get an increasing multiplier that starts at 1 and increases by 0.5 for each game played, 
      meaning that later games will count more. After each round, players will vote on which game to play next, so if you are 
      really good at one game, you want to save that until the end. In the end, a final surpirse game is played. Good luck gamers!
    </p>

    <h2 class="section-title">Sign up</h2>

    <ul class="list">
      <li class="list-item"><strong>Your Name</strong></li>
      <li class="list-item"><strong>Contact Info</strong> (Discord)</li>
      <li class="list-item"><strong>Minecraft IGN (in-game-nickname)</strong></li>
    </ul>

    <p class="paragraph">
      To enter, simply fill in your information using our <a href="https://forms.gle/hNKDnW6my8y9Kawr5" class="link"
        >competition form</a
      >. The sign-ups end one hour before the competition starts.
    </p>

    <p class="paragraph mt-12">📢 Winners will be announced on BetaLAN Gameshow 23:00 the same day!</p>
  </Tournament>
</MainLayout>

<style>
  .prize-item {
    @apply bg-slate-800/70 rounded p-3 text-center flex flex-col md:flex-row items-center w-full max-w-xs md:max-w-md;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) {
    .prize-item {
      @apply mb-3;
    }
  }
</style>