---
const { title, description, image } = Astro.props;
---

<div
  class="overflow-hidden rounded-2xl bg-gray-100 shadow-md transition hover:shadow-xl dark:bg-gray-800"
>
  <img src={image} class="h-48 w-full object-cover" />
  <div class="p-6">
    <h3 class="text-xl font-semibold">{title}</h3>
    <hr class="my-3 border-b-2 border-t-0 border-brand" />
    <p class="mt-2 text-balance text-gray-900 dark:text-gray-300">{description}</p>
  </div>
</div>
