---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <div class="w-full">
    <div class="container mx-auto px-4 bg-brand max-w-7xl px-2 sm:px-6 lg:px-8">

    </div>
  </div>
</Layout>
