---
import Layout from "@layouts/Main.astro";
import LinkerButton from "@components/ui/linker-button.astro";
---

<Layout title="BetaLAN">
  <div id="top-logo-group">
    <div id="top-logo">
      <img
        src="/imgs/BetaLAN-Indy.png"
        alt="BetaLAN Indy"
        class="drop-shadow-2xl"
      />
    </div>
    <div id="date-logo">
      <img
        src="/imgs/BetaLAN-Date-Indy.png"
        alt="BetaLAN Date"
        class="drop-shadow-2xl"
      />
    </div>
  </div>

  <div
      id="info-navigation-buttons"
      class="container my-6 flex justify-center mx-auto">
      <LinkerButton
        href="https://tikkio.com/tickets/51463-betalan-v25"
        text="Get Your Tickets Now!"
        target="_blank"
        color="#11FF11"
        pulsing={true}
      />
  </div>

  <div class="gamer-font">
    <div id="content" class="container text-center mb-3">
      <h1 class="large-heading">Welcome to the Jungle!</h1>
      <p>
        For this semesters BetaLAN we are transforming Bluebox into a gaming
        temple ruin within humid jungle! Expolore the ancient mysteries that lie
        within the temple of BetaLAN <br />
        <br />
        We will have a variety of games to play, tournaments to compete in, and prizes
        to win! <br />
        So grab your gear and get ready to game! <br />
        <br />
        <strong>When:</strong> 25-27th April at Bluebox <br />
      </p>
      <div
        id="info-navigation-buttons"
        class="container mt-8 flex flex-wrap justify-center mx-auto"
      >
        <button
          class="bg-green-500 text-black rounded-lg bg-opacity-70 p-2 border-green-400 border-2 mx-2 my-2 hover:bg-green-600 hover:text-white transition duration-300 w-full sm:w-auto"
        >
          <a href="/betalan/about" target="_self" class="no-underline">About</a>
        </button>
        <button
          class="bg-green-500 text-black rounded-lg bg-opacity-70 p-2 border-green-400 border-2 mx-2 my-2 hover:bg-green-600 hover:text-white transition duration-300 w-full sm:w-auto"
        >
          <a href="/betalan/program" target="_self" class="no-underline"
            >Program</a
          >
        </button>
        <button
          class="bg-green-500 text-black rounded-lg bg-opacity-70 p-2 border-green-400 border-2 mx-2 my-2 hover:bg-green-600 hover:text-white transition duration-300 w-full sm:w-auto"
        >
          <a href="/betalan/rules" target="_self" class="no-underline">Rules</a>
        </button>
      </div>
    </div>

    <div
      class="strawpoll-embed"
      id="strawpoll_40Zm4xX3lga"
      style="height: 644px; max-width: 640px; width: 100%; margin: 2rem auto 0 auto; display: flex; flex-direction: column;">
      <iframe
        title="StrawPoll Embed"
        id="strawpoll_iframe_40Zm4xX3lga"
        src="https://strawpoll.com/embed/40Zm4xX3lga"
        style="position: static; visibility: visible; display: block; width: 100%; flex-grow: 1;"
        allowfullscreen
        allowtransparency>Loading...</iframe>
      <script
        async
        src="https://cdn.strawpoll.com/dist/widgets.js"
        charset="utf-8"></script>
    </div>

    <div
      id="crew-info"
      class="container text-center mt-32 flex flex-col items-center rounded-lg mx-auto bg-slate-900 bg-opacity-90 p-4 text-white my-4 max-w-full lg:max-w-4xl">
      <h2 class="text-2xl mb-4">Crew Information</h2>
      <p class="sm:text-xs md:text-xs lg:text-sm">
        The best way to experience BetaLAN is becoming a part of the crew. The
        crew is responsible for planning and organizing the LAN-party, and as a
        crew member you get free admission and some extra food after rigging
        down <br />
        <br />
        <strong>Want to know more?</strong>
        <br />
      </p>
      <div>
        <button
          class="bg-slate-600 hover:bg-slate-700 hover:border-slate-700 text-white font-bold py-2 px-4 rounded my-4"
        >
          <a href="/betalan/crew-info">Crew Information</a>
        </button>
      </div>
    </div>
  </div>
</Layout>

<style>
  body {
    @apply bg-cover bg-center bg-fixed;
    background-image: url("/betalan/mayan-templewall.jpeg");
    z-index: 1;
  }

  .gamer-font {
    font-family: "Press Start 2P", cursive;
  }

  /* Vignette */
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.5));
    z-index: -1;
  }

  body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -2;
  }

  #top-logo-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  #date-logo {
    margin-top: -4rem;
    width: 70%;
  }
  #content {
    background-color: #191a1a;
    background-image: linear-gradient(
        180deg,
        transparent 24%,
        rgba(0, 115, 19, 0.3) 25%,
        rgba(0, 115, 19, 0.3) 26%,
        transparent 27%,
        transparent 74%,
        rgba(0, 115, 19, 0.3) 75%,
        rgba(0, 115, 19, 0.3) 76%,
        transparent 77%,
        transparent
      ),
      linear-gradient(
        45deg,
        transparent 24%,
        rgba(0, 115, 19, 0.3) 25%,
        rgba(0, 115, 19, 0.3) 26%,
        transparent 27%,
        transparent 74%,
        rgba(0, 115, 19, 0.3) 75%,
        rgba(0, 115, 19, 0.3) 76%,
        transparent 77%,
        transparent
      );
    background-size: 55px 55px;
    padding: 2rem;
    border: 2px solid #00dd00;
    border-radius: 10px;
    box-shadow: 0 0 10px #00dd00;
    color: #18ea28;
    margin: 0 auto;
    max-width: 900px;
  }
  .large-heading {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  @media (max-width: 768px) {
    .large-heading {
      font-size: 1.5rem;
    }

    #content {
      padding: 1rem;
      font-size: 0.9rem;
    }

    #crew-info {
      width: 100%;
      padding: 1rem;
    }

    #top-logo-group {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    #date-logo {
      margin-top: -2rem;
      width: 90%;
    }
    #crew-info p {
      font-size: 0.875rem; /* 14px */
    }
  }

  @media (max-width: 480px) {
    .large-heading {
      font-size: 1.2rem;
    }

    #content {
      padding: 0.5rem;
      font-size: 0.8rem;
    }

    #crew-info {
      width: 100%;
      padding: 0.5rem;
    }

    #top-logo-group {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    #date-logo {
      margin-top: -1rem;
      width: 100%;
    }
    #crew-info p {
      font-size: 0.75rem; /* 12px */
    }
  }
</style>

<!-- Gamer Font ðŸ•¹ï¸ -->
<head>
  <link
    href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
    rel="stylesheet"
  />
</head>
