---
import Layout from "@layouts/PageLayout.astro";
import BetaLANLayout from "@layouts/BetaLAN-Layout.astro";
import LinkerButton from "@components/ui/linker-button.astro";
import betaLANLogo from "@assets/betalan/Betalan_logo.png";
import { Icon } from "astro-icon/components";
---

<Layout title="BetaLAN">
  <BetaLANLayout>
    <div id="top-logo-group" class="flex justify-center mb-36 md:mb-10 drop-shadow-2xl">
      <div id="top-logo">
        <img
          src={betaLANLogo.src}
          alt="BetaLAN Logo"
          class="drop-shadow-2xl"
        />
      </div>
    </div>

    <!-- Tickets button, Remove comment when ready -->
    <!-- <div
        id="info-navigation-buttons"
        class="container my-6 flex justify-center mx-auto">
        <LinkerButton
          href="https://tikkio.com/tickets/51463-betalan-v25"
          text="Get Your Tickets Now!"
          target="_blank"
          color="#11FF11"
          pulsing={true}
        />
    </div> -->

    <div id="content" class="container text-center mb-3">
      <h1 class="text-7xl text-red-500 font-bold drop-shadow-md">Welcome to BETALAN!</h1>
      <p class="text-3xl">
        BetaLAN is all about having fun and enjoying the gaming culture! <br />
        <br />
        We will have a variety of games to play, tournaments to compete in, and prizes
        to win! <br />
        So grab your gear and get ready to conquer the BetaLAN! <br />
        <br />
        <strong>When:</strong> TBA <br />
      </p>
      <div
        id="info-navigation-buttons"
        class="container mt-8 flex flex-wrap justify-center mx-auto px-2 sm:px-0 text-3xl"
      >
      <a href="/betalan/survivalgames" target="_self" class="no-underline w-full sm:w-auto">
        <button
          class="bg-green-500 text-black rounded-lg bg-opacity-70 p-2 border-green-400 border-2 mx-0 sm:mx-2 my-2 hover:bg-green-600 hover:text-white transition duration-300 w-full sm:w-auto"
        >
          <Icon name="fa-solid:keyboard" width="25" height="25" class="inline-block" />
          Survival Games
        </button>
      </a>
      <a href="/betalan/program" target="_self" class="no-underline w-full sm:w-auto">
        <button
          class="bg-green-500 text-black rounded-lg bg-opacity-70 p-2 border-green-400 border-2 mx-0 sm:mx-2 my-2 hover:bg-green-600 hover:text-white transition duration-300 w-full sm:w-auto"
        >
          Program
        </button>
      </a>
      <a href="/betalan/rules" target="_self" class="no-underline w-full sm:w-auto">
        <button
          class="bg-green-500 text-black rounded-lg bg-opacity-70 py-2 px-4 border-green-400 border-2 mx-0 sm:mx-2 my-2 hover:bg-green-600 hover:text-white transition duration-300 w-full sm:w-auto"
        >
          Rules
        </button>
      </a>
      <a href="https://discord.gg/ggUtjr8TSQ" target="_blank" rel="noopener" class="no-underline w-full sm:w-auto">
        <button
          class="bg-indigo-700 text-white rounded-lg bg-opacity-90 p-2 border-indigo-500 border-2 mx-0 sm:mx-2 my-2 hover:bg-indigo-600 transition duration-300 w-full sm:w-auto flex items-center justify-center gap-2"
        >
          <Icon name="fa-brands:discord" width="25" height="25" class="inline-block" />
          Discord
        </button>
      </a>
      </div>
    </div>

    <!-- Crew Info -->
    <div
      id="crew-info"
      class="container text-center mt-10 lg:mt-20 flex flex-col items-center rounded-lg mx-auto bg-slate-900 bg-opacity-90 p-4 text-white my-4 max-w-full lg:max-w-4xl">
      <h2 class="text-7xl mb-4">Crew Information</h2>
      <p class="text-3xl">
        The best way to experience BetaLAN is becoming a part of the crew. The
        crew is responsible for planning and organizing the LAN-party, and as a
        crew member you get free admission and some extra food after rigging
        down <br />
        <br />
        Want to know more?
        <br />
      </p>
      <div>
        <button
          class="bg-slate-600 hover:bg-slate-700 hover:border-slate-700 text-white text-3xl py-2 px-4 rounded my-4"
        >
          <a href="/betalan/crew-info">Crew Information</a>
        </button>
      </div>
    </div>
    <br />
  </BetaLANLayout>
</Layout>

<style>
  #top-logo-group {
    flex-direction: column;
    align-items: center;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  #content {
    background-color: #191a1a;
    background-image: linear-gradient(
        180deg,
        transparent 24%,
        rgba(0, 115, 19, 0.3) 25%,
        rgba(0, 115, 19, 0.3) 26%,
        transparent 27%,
        transparent 74%,
        rgba(0, 115, 19, 0.3) 75%,
        rgba(0, 115, 19, 0.3) 76%,
        transparent 77%,
        transparent
      ),
      linear-gradient(
        45deg,
        transparent 24%,
        rgba(0, 115, 19, 0.3) 25%,
        rgba(0, 115, 19, 0.3) 26%,
        transparent 27%,
        transparent 74%,
        rgba(0, 115, 19, 0.3) 75%,
        rgba(0, 115, 19, 0.3) 76%,
        transparent 77%,
        transparent
      );
    background-size: 55px 55px;
    padding: 2rem;
    border: 2px solid #00dd00;
    border-radius: 10px;
    box-shadow: 0 0 10px #00dd00;
    color: #18ea28;
    margin: 0 auto;
    max-width: 900px;
  }
</style>
