---
import BaseLayout from "@layouts/BaseLayout.astro";
import BetaLANLayout from "@layouts/BetaLANLayout.astro";
import { Icon } from "astro-icon/components";
---

<BaseLayout title="BetaLAN Program H25">
  <BetaLANLayout>
    <section
      class="mx-3 mb-4 max-w-4xl rounded-lg bg-slate-800 bg-opacity-90 p-4 text-yellow-100 sm:m-6 sm:p-6 lg:mx-auto"
    >
      <div>
        <h1 class="mb-6 text-center text-3xl font-bold md:text-6xl">BetaLAN Program</h1>

        <div class="mb-8 sm:mb-10">
          <h2 class="mb-3 border-b border-yellow-300 pb-1 font-bold text-yellow-300">Friday</h2>
          <ul class="space-y-0">
            <li
              class="flex flex-col justify-between border-b border-yellow-900/30 py-3 sm:flex-row sm:border-none sm:py-2"
            >
              <span class="font-medium">Opening Hour</span>
              <span>17:00 - 18:00</span>
            </li>
            <li
              class="flex flex-col justify-between border-b border-yellow-900/30 py-3 sm:flex-row sm:border-none sm:py-2"
            >
              <span class="font-medium">GameJAM</span>
              <span>18:00 - 19:00</span>
            </li>
            <li
              class="flex flex-col justify-between border-b border-yellow-900/30 py-3 sm:flex-row sm:border-none sm:py-2"
            >
              <span class="font-medium">Team fortress 2</span>
              <span>19:00 - 21:00</span>
            </li>
            <li
              class="flex flex-col justify-between border-b border-yellow-900/30 py-3 sm:flex-row sm:border-none sm:py-2"
            >
              <span class="font-medium">DOTA 2</span>
              <span>21:00 - 23:00</span>
            </li>
            <li
              class="flex flex-col justify-between border-b border-yellow-900/30 py-3 sm:flex-row sm:border-none sm:py-2"
            >
              <span class="font-medium">Wii sports</span>
              <span>23:00 - 00:00</span>
            </li>
          </ul>
        </div>

        <div class="mb-8 sm:mb-10">
          <h2 class="mb-3 border-b border-yellow-300 pb-1 font-bold text-yellow-300">Saturday</h2>
          <ul class="space-y-0">
            <li
              class="flex flex-col justify-between border-b border-yellow-900/30 py-3 sm:flex-row sm:border-none sm:py-2"
            >
              <span class="font-medium">League of Legends</span>
              <span>13:00 - 15:00</span>
            </li>
            <li
              class="flex flex-col justify-between border-b border-yellow-900/30 py-3 sm:flex-row sm:border-none sm:py-2"
            >
              <span class="font-medium">Minecraft</span>
              <span>15:00 - 17:00</span>
            </li>
            <li
              class="flex flex-col justify-between border-b border-yellow-900/30 py-3 sm:flex-row sm:border-none sm:py-2"
            >
              <span class="font-medium">Food for participants</span>
              <span>17:00 - 19:00</span>
            </li>
            <li
              class="flex flex-col justify-between border-b border-yellow-900/30 py-3 sm:flex-row sm:border-none sm:py-2"
            >
              <span class="font-medium">Guitar Hero</span>
              <span>19:00 - 21:00</span>
            </li>
            <li
              class="flex flex-col justify-between border-b border-yellow-900/30 py-3 sm:flex-row sm:border-none sm:py-2"
            >
              <span class="font-medium">PEAK (Mega Session)</span>
              <span>22:00 - 23:00</span>
            </li>
          </ul>
        </div>

        <div class="mb-6">
          <h2 class="mb-3 border-b border-yellow-300 pb-1 font-bold text-yellow-300">Sunday</h2>
          <ul class="space-y-0">
            <li
              class="flex flex-col justify-between border-b border-yellow-900/30 py-3 sm:flex-row sm:border-none sm:py-2"
            >
              <span class="font-medium">Just Dance</span>
              <span>13:00 - 15:00</span>
            </li>
            <li
              class="flex flex-col justify-between border-b border-yellow-900/30 py-3 sm:flex-row sm:border-none sm:py-2"
            >
              <span class="font-medium">Street Fighter 2</span>
              <span>14:00 - 16:00</span>
            </li>
            <li
              class="flex flex-col justify-between border-b border-yellow-900/30 py-3 sm:flex-row sm:border-none sm:py-2"
            >
              <span class="font-medium">Closing Time</span>
              <span>17:00</span>
            </li>
          </ul>
        </div>

        <div class="mb-2 mt-6 border-t border-yellow-800 pt-4 text-center sm:mt-8">
          <div class="mt-2 sm:mt-4">
            <h3 class="mb-2 font-medium">Join BetaLAN Discord</h3>
            <p class="mb-3">
              Connect with other participants and get real-time updates during the event
            </p>
            <a
              href="https://discord.gg/ggUtjr8TSQ"
              target="_blank"
              rel="noopener"
              class="inline-flex items-center gap-2 rounded-md bg-indigo-700 px-3 py-1.5 text-white transition-colors hover:bg-indigo-600 sm:px-4 sm:py-2"
            >
              <Icon name="fa-brands:discord" class="mb-2 h-12 w-12" />
              <span>BetaLAN Discord</span>
            </a>
          </div>
        </div>
      </div>
    </section>
    <br />
  </BetaLANLayout>
</BaseLayout>
