---
import Layout from "@layouts/Main.astro";
import BetaLANLayout from "@layouts/BetaLAN-Layout.astro";
import DiscordLogo from "@components/icons/social/Discord.astro";
---

<Layout title="BetaLAN Program">
  <BetaLANLayout backgroundImage="/betalan/jungle-background.jpg">
    <section class="bg-slate-800 bg-opacity-90 p-6 rounded-lg m-6 max-w-4xl mx-auto text-yellow-100 min-h-36">
      <div>
        <h1 class="font-bold text-center text-xl mb-3">More Information will come!</h1>
        <p class="text-xs md:px-10 mb-2">The BetaLAN crew is currently working on the program for this semesters BetaLAN.</p>
        <p class="text-xs md:px-10">If you want to help out in any shape or form, you are welcome to join our weekly meetings! All the information you need is available on BETA's Discord server. Feel free to reach out to us there.</p>
        <p class="text-center sm:text-sm mt-4">
          <a href="https://discord.gg/spp4jZwMXh" target="_blank" rel="noopener" class="inline-flex items-center gap-2 text-yellow-100 hover:text-yellow-300">
            <DiscordLogo width="100" height="100" class="h-12 w-12 md:h-16 md:w-16"/>
          </a>
        </p>
      </div>
    </section>
  </BetaLANLayout>
</Layout>