---
import Layout from "@layouts/Main.astro";
---

<Layout title="BetaLAN Rules">
  <section class="bg-slate-800 bg-opacity-90 p-6 rounded-lg m-6 max-w-4xl mx-auto text-yellow-100">
    <h2 class="text-2xl font-bold mb-4">Event Rules</h2>
    <div class="space-y-4">
      <div>
        <h3 class="text-xl font-semibold">§1 The event is alcohol and drug free</h3>
        <p>If we see you with alcohol at the event we will have to confiscate your drink and give a warning</p>
        <p>If we recognize that you are highly intoxicated we will have to ask you to leave the event and come back later</p>
      </div>
      <div>
        <h3 class="text-xl font-semibold">§2 The rules for using the network are the same as the school's</h3>
      </div>
      <div>
        <h3 class="text-xl font-semibold">§3 It is not allowed to bring speakers</h3>
        <p>To make sure there is not too much noise in the event area we do not allow any speakers at the event. We will be using the speaker system at bluebox to play some music and set the ambience</p>
      </div>
      <div>
        <h3 class="text-xl font-semibold">§4 It is not allowed to bring your own appliances due to power limitations (No, you cannot bring your toaster)</h3>
        <p>Any other appliances than your gaming gear or chargers are not allowed. </p>
      </div>
      <div>
        <h3 class="text-xl font-semibold">§5 Norwegian laws apply in this venue as well</h3>
      </div>
      <div>
        <h3 class="text-xl font-semibold">§6 CHEATING IS FORBIDDEN; if we catch you cheating at our events you will get a 1 year ban from future events</h3>
      </div>
    </div>
    <p class="mt-4 italic">Breaking the rules will result in penalties based on the severity of the violation, 
      and may lead to getting kicked out of the event without a refund </p>
  </section>
</Layout>

<style>
  body {
    @apply bg-cover bg-center bg-fixed;
    background-image: url("/betalan/jungle-background.jpg");
    z-index: 1;
  }

  .gamer-font {
    font-family: "Press Start 2P", cursive;
  }

  /* Vignette */
  body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.5));
    z-index: -1;
  }

  body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: -2;
  }
</style>