<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}BETA{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="/static/css/global.css">
  <script src="https://kit.fontawesome.com/ff77f9aee8.js" crossorigin="anonymous"></script>
</head>

<body>
  {% include "components/header.html" %}
  <div id="content">
    {% block content %}{% endblock %}
  </div>
  {% include "components/footer.html" %}
</body>

</html>
