<footer>
  <div class="content">
        <div class="contact">
            <img src="{{ url_for('static', filename='img/Beta_blue_2.png') }}" alt="beta-logo" />
            <ul>
                <li>BETA Engineering & Technology Association</li>
                <li>Org. nummer: 913 777 417</li>
                <li>Jon Lilletuns vei 9, 4879 Grimstad</li>
            </ul>
            <ul class="socials">
                <li><a href="https://discord.gg/U87D3kPdJ3" target="_blank"><i class="fab fa-discord"></i></a></li>
                <li><a href="https://www.facebook.com/beta.linjeforening/?locale=nb_NO" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.linkedin.com/company/beta-engineering-technology-association/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                <li><a href="mailto: post@betauia.net"><i class="fas fa-envelope"></i></a></li>
            </ul>
        </div>
        <div class="resources">
            <h3>Ressurser</h3>
            <ul>
              <li><a href="/">Interessegrupper</a></li>
              <li><a href="/for-bedrifter">For Bedrifter</a></li>
              <li><a href="/">Ny Student</a></li>
              <li><a href="https://github.com/askeladd123/betadev-developed-development.net" target="_blank">GitHub Repo</a></li>
              <li><a href="/dev/wiki">Dev Wiki</a></li>
            </ul>
        </div>
  </div>
</footer>
