<header>
  <div class="content">
    <a href="/" class="logo">
      <img src="{{ url_for('static', filename='img/Beta_blue_1.png') }}" alt="beta-logo" />
    </a>
    <nav class="menu" id="navigation-menu">
      <a href="/wip">Interessegrupper</a>
      <a href="/wip">Ny student</A>
      <a href="/wip">Karriere</a>
      <a href="/for-bedrifter">For Bedrifter</a>
    </nav>
    <button class="menu-btn" onclick="showMenu()"><i class="fas fa-bars"></i></button>
  </div>
</header>

<script>
  var menu = document.getElementById("navigation-menu");
  const showMenu = () => {
    if (menu.className === "menu") {
      menu.className += " active"
    } else {
      menu.className = "menu"
    }
  }
</script>
