<h1 class="text-2xl">Hva skjer denne uken?</h1>
<ul class="flex-1 mt-4">
  <li class="flex">
    <div class="flex flex-col bg-red-400 px-4 py-2 items-start">
      <span class="text-2xl">21</span>
      <span class="text-sm">Feb</span>
    </div>
    <div class="px-4 py-2">
      <h2 class="text-xl">Bedpress med Atena</h2>
      <div class="flex gap-4 text-sm mt-1 text-gray-300">
        <div class="flex gap-1 items-center">
          <span>
            <svg class="size-5 shrink-0" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.7 15C4.03377 15.6353 3 16.5205 3 17.4997C3 19.4329 7.02944 21 12 21C16.9706 21 21 19.4329 21 17.4997C21 16.5205 19.9662 15.6353 18.3 15M12 9H12.01M18 9C18 13.0637 13.5 15 12 18C10.5 15 6 13.0637 6 9C6 5.68629 8.68629 3 12 3C15.3137 3 18 5.68629 18 9ZM13 9C13 9.55228 12.5523 10 12 10C11.4477 10 11 9.55228 11 9C11 8.44772 11.4477 8 12 8C12.5523 8 13 8.44772 13 9Z" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </span>
          Bluebox
        </div>


        <div class="flex gap-1 items-center">
          <span>
            <svg class="size-5 shrink-0" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 7V12L13.5 14.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
          16:15
        </div>
      </div>
    </div>
  </li>



  <li class="flex">
    <div class="flex flex-col bg-green-600 px-4 py-2 items-start">
      <span class="text-2xl">22</span>
      <span class="text-sm">Feb</span>
    </div>
    <div class="px-4 py-2">
      <h2 class="text-xl">Gamejam start</h2>
      <div class="flex gap-4 text-sm mt-1 text-gray-300">
        <div class="flex gap-1 items-center">
          <span>
            <svg class="size-5 shrink-0" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.7 15C4.03377 15.6353 3 16.5205 3 17.4997C3 19.4329 7.02944 21 12 21C16.9706 21 21 19.4329 21 17.4997C21 16.5205 19.9662 15.6353 18.3 15M12 9H12.01M18 9C18 13.0637 13.5 15 12 18C10.5 15 6 13.0637 6 9C6 5.68629 8.68629 3 12 3C15.3137 3 18 5.68629 18 9ZM13 9C13 9.55228 12.5523 10 12 10C11.4477 10 11 9.55228 11 9C11 8.44772 11.4477 8 12 8C12.5523 8 13 8.44772 13 9Z" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </span>
          A3 022
        </div>


        <div class="flex gap-1 items-center">
          <span>
            <svg class="size-5 shrink-0" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 7V12L13.5 14.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
          16:15
        </div>
      </div>
    </div>
  </li>



  <li class="flex">
    <div class="flex flex-col bg-blue-500 px-4 py-2 items-start">
      <span class="text-2xl">24</span>
      <span class="text-sm">Feb</span>
    </div>
    <div class="px-4 py-2">
      <h2 class="text-xl">Capture the flag</h2>
      <div class="flex gap-4 text-sm mt-1 text-gray-300">
        <div class="flex gap-1 items-center">
          <span>
            <svg class="size-5 shrink-0" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.7 15C4.03377 15.6353 3 16.5205 3 17.4997C3 19.4329 7.02944 21 12 21C16.9706 21 21 19.4329 21 17.4997C21 16.5205 19.9662 15.6353 18.3 15M12 9H12.01M18 9C18 13.0637 13.5 15 12 18C10.5 15 6 13.0637 6 9C6 5.68629 8.68629 3 12 3C15.3137 3 18 5.68629 18 9ZM13 9C13 9.55228 12.5523 10 12 10C11.4477 10 11 9.55228 11 9C11 8.44772 11.4477 8 12 8C12.5523 8 13 8.44772 13 9Z" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </span>
          Bluebox
        </div>


        <div class="flex gap-1 items-center">
          <span>
            <svg class="size-5 shrink-0" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 7V12L13.5 14.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </span>
          16:15
        </div>
      </div>
    </div>
  </li>
</ul>
