<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>BETA</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}" />
  <link rel="apple-touch-icon" sizes="180x180" href="img/Beta_blue_b.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

  <header class="navigation-header">
    <nav>
      <div class="logo-container">
        <a href="/">Logo</a>
      </div>
      <div class="navigation-items" id="navigation-items">
        <a href="/game-jam-entries"><i class="fa-solid fa-star"></i> Games</a>
        <a href="/auth/login"><i class="fas fa-user-shield"></i> Admin Login</a>
      </div>
      <div class="hamburger">
        <span id="openHam">&#9776;</span>
        <span id="closeHam">&#x2716;</span>
      </div>
      <div class="navbar-item">
        <button id="modeToggle" class="button is-white is-inverted">
          <span class="icon">
            <i class="fas fa-sun"></i> <!-- Icon for light mode -->
          </span>
        </button>
      </div>
    </nav>
  </header>


  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-1"></div>
          <div class="column is-10">
            <img id="" src="{{ url_for('static', filename='img/Beta_blue_1.png') }}" alt="beta-logo" />
            <div class="hero-foot">
              <nav class="tabs is-boxed is-fullwidth is-large">
                <div class="container">
                  <ul>
                    <li class="tab is-active" onclick="openTab(event,'Beta')">
                      <a class="custom-link" data-tab="Beta">Beta</a>
                    </li>
                    <li class="tab" onclick="openTab(event,'BetaDev')">
                      <a class="custom-link" data-tab="BetaDev">BetaDev</a>
                    </li>
                    <li class="tab" onclick="openTab(event,'BetaSec')">
                      <a class="custom-link" data-tab="BetaSec">BetaSec</a>
                    </li>
                    <li class="tab" onclick="openTab(event,'BetaLan')">
                      <a class="custom-link" data-tab="BetaLan">BetaLan</a>
                    </li>
                    <li class="tab" onclick="openTab(event,'BedKom')">
                      <a class="custom-link" data-tab="BedKom">For Bedrifter</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>


            <div id="Beta" class="content-tab" style="display: none;">
              <div id="markdown-content" class="subtitle is-5 is-beta-white subtitle-text italic custom-markdown"
                style="margin: auto; width: 100%; ">
                <!-- Markdown content for Beta will be rendered here -->
              </div>
            </div>
            <div id="BetaDev" class="content-tab" style="display: none;">
              <div id="markdown-content" class="subtitle is-5 is-beta-white subtitle-text italic custom-markdown"
                style="margin: auto; width: 100%; ">
                <!-- Markdown content for BetaDev-tab will be rendered here -->
              </div>
            </div>
            <div id="BetaSec" class="content-tab" style="display: none;">
              <div id="markdown-content" class="subtitle is-5 is-beta-white subtitle-text italic custom-markdown"
                style="margin: auto; width: 100%; ">
                <!-- Markdown content for BetaSec-tab will be rendered here -->
              </div>
            </div>
            <div id="BetaLan" class="content-tab" style="display: none;">
              <div id="markdown-content" class="subtitle is-5 is-beta-white subtitle-text italic custom-markdown"
                style="margin: auto; width: 100%; ">
                <!-- Markdown content for BetaLan-tab will be rendered here -->
              </div>
            </div>
            <div id="BedKom" class="content-tab" style="display: none;">
              <div id="markdown-content" class="subtitle is-5 is-beta-white subtitle-text italic custom-markdown"
                style="margin: auto; width: 100%; ">
                <!-- Markdown content for "For bedrifter"-tab will be rendered here -->
              </div>
            </div>

            <hr class="divider" />
            <br />
            <div class="level row">
              <div class="level-item">
                <a class="is-beta-blue"
                  href="https://calendar.google.com/calendar/embed?src=dGZvdmt1ZmExZzRiZmxmZzJvbzhqNDc5OGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ">
                  <i class="fa fa-calendar fa-8x mx-1"></i>
                  <span class=""></span>
                  <!--  tag for å sette label -->
                </a>
              </div>
              <div class="level-item icon-center">
                <a class="is-beta-blue" href="https://www.instagram.com/betauia/">
                  <i class="fa-brands fa-instagram fa-9x mx-1"></i>
                  <span class=""></span>
                  <!--  tag for å sette label -->
                </a>
              </div>
              <div class="level-item">
                <a class="is-beta-blue" href="https://discord.gg/v8b6ZrQ">
                  <i class="fa-brands fa-discord fa-10x mx-1"></i>
                  <span class=""></span>
                  <!--  tag for å sette label -->
                </a>
              </div>
              <div class="level-item">
                <a class="is-beta-blue" href="https://github.com/betauia/">
                  <i class="fa-brands fa-github fa-9x mx-1"></i>
                  <span class=""></span>
                  <!--  tag for å sette label -->
                </a>
              </div>
              <div class="level-item">
                <a class="is-beta-blue" href="https://www.facebook.com/beta.linjeforening/">
                  <i class="fa-brands fa-facebook fa-9x mx-1"></i>
                  <span class=""></span>
                  <!--  tag for å sette label -->
                </a>
              </div>
            </div>
            <br />
            <hr class="divider" />
            <br />
            <nav class="level">
              <div class="is-size-3 is-beta-blue level-item has-text-centered">
                <button class="btn is-size-3 is-beta-blue" id="myBtn1">
                  For Studenter
                </button>
                <div id="myModal1" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <h1>For Studenter</h1>
                    <p>...</p>
                  </div>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <button class="btn is-size-3 is-beta-blue has-text-weight-bold" id="myBtn2">
                  Engasjer Deg!
                </button>
                <div id="myModal2" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <p class="is-size-1 has-text-weight-bold">Engasjer Deg!</p>
                    <p>
                      bli med i betasec, vi klarer å utvikle nettsider og hacke
                      de
                    </p>
                  </div>
                </div>
              </div>
              <div class="level-item has-text-centered">
                <button class="btn is-size-3 is-beta-blue" id="myBtn3">
                  For Bedrifter
                </button>
                <div id="myModal3" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <h1>For Bedrifter</h1>
                    <p>...</p>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
  </section>


  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/showdown@2.1.0/dist/showdown.min.js"></script>
</body>

</html>