---
import MainLayout from "@layouts/Main.astro";
import Tournament from "@layouts/tournament.astro";
import "../tournaments.css";
---

<MainLayout title="Just Dance Competition">
  <Tournament>
    <h1 class="title">StepMania Competition</h1>
    <img
      src="/betalan/tournaments/StepMania.jpg"
      alt="StepMania Competition"
      class="responsive-img"
    />
    <h2 class="section-title">What is the StepMania Competition?</h2>

    <p class="paragraph">
      StepMania is a rhythm game where you step
       on the arrows with your feet to follow the arrows on the screen, making you dance along the song!
       We'll be playing through a series of random songs, where the highest score
        bewteen the two players against each other, moves on through the Bracket till we have a winner!
        So join the competition and show off your dance moves!
    </p>

    <h2 class="section-title">Prizes</h2>

    <img
      src="/betalan/tournaments/stepmania-prize.png"
      alt="StepMania Prize"
      class="responsive-img"
    />

    <ul class="link-center">
      <li class="list-item">
        <strong>1st place</strong> – My Arcade Micro Player Pro
      </li>
      <li class="list-item">
        <strong>2nd place</strong> - Keychron Computer Keycap & Variety pack from Gamer Supps
      </li>
    </ul>



    <h2 class="section-title">Scoring</h2>

    <p class="paragraph">
      Each round you'll be playing against another player,
       where the player with the highest score wins to the next round in our Bracket system.
        You'll need to step on the dance mat according to the timing to the
         song to score highest points. So remember 
        to wear comfortable dancing shoes or socks to hit the dance mat accurately!
    </p>

    <h2 class="section-title">Sign up</h2>

    <ul class="list">
      <li class="list-item"><strong>Your Name</strong></li>
      <li class="list-item"><strong>Contact Info</strong> (Discord or phone number)</li>
    </ul>

    <p class="paragraph">
      To enter, simply fill in your information using our <a href="https://forms.gle/VBbhNnm6hetmHF1y6" class="link"
        >competition form</a
      >. The sign ups ends one hour before the competition starts. (Specific time will be published soon)
    </p>

    <p class="paragraph mt-12">📢 Winners will be announced after the competition!</p>
  </Tournament>
</MainLayout>