---
import { Icon } from "astro-icon/components";
---

<a href="https://discord.gg/eZEm53BB7A" target="_blank">
  <div
    class="bg-accent-red flex justify-center gap-8 rounded-2xl px-8 py-6 text-white shadow-md transition hover:shadow-xl"
  >
    <div class="flex items-center justify-center">
      <Icon name="fa-brands:discord" class="h-16 w-16" />
    </div>
    <div class="">
      <h2 class="mb-2 flex items-center gap-4 border-b-2 pb-2 text-3xl font-bold">
        Join UiACTF Discord!<span><Icon name="fa:external-link" class="w-6" /></span>
      </h2>

      <p>Det er UiACTF offisielle Discord-kanal!</p>
    </div>
  </div>
</a>
